<style media="screen">
  .container-fluid .card-columns .card-body .row{
    margin-left: -15px!important;
  }
</style>
<div class='container p-0'></div>
<div class="card-columns" style="column-count: 1">
  {% for id, item in name %}
    <div class="card">
    {% if not auth.user.bank.hasPermission(item) %} {% set msg = "ЗАКЛУЧЕНО" %} {% include 'templates/partials/zabrana.twig' %} {% endif %}
    <img class="card-img-top" src="{{baseUrl}}/resources/views/templates/svg/{{item}}.svg" height="300px">
    <h3 class="title">{{title[id]}}</h3>
    <div class="card-body">
      <div class="row">
        <div class="col">
          {% if (item == 'small') or (item == 'big') %}
            <input type="range" min="0" max="{{auth.user.bank.stuff(item,'limit')}}" value="{{auth.user.bank.stuff(item,'pari')}}" class="slider">
          {% else %}
            <input type="range" min="0" max="{{auth.user.bank.stuff(item,'pari') + 3000}}" value="{{auth.user.bank.stuff(item,'pari')}}" class="slider">
          {% endif %}
           <input type="number" class="result" value="{{auth.user.bank.stuff(item,'pari')}}">
        </div>
      </div>
      <button class="btn btn-danger bank">ТРАНСФЕР</button>
      <input type="hidden" value="{{item}}">
    </div>
    </div>
  {% endfor %}
</div>
