<style media="screen">
.container-fluid{
  padding-top: 120px;
}
.container-fluid .card-columns .card-body .row .col {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 22px;
}
</style>
<div class="card-navigation">
  <ul class="nav nav-fill">
    <li class="nav-item" id="1">
      <a class="nav-link">{{x[1]}}</a>
    </li>
    <li class="nav-item" id="2">
      <a class="nav-link">{{x[2]}}</a>
    </li>
    <li class="nav-item" id="3">
      <a class="nav-link">{{x[3]}}</a>
    </li>
  </ul>
</div>
<div class='container p-0'></div>
<div class="card-columns carCards" id="first">
  {% for key, item in row1[0] %}
    <div class="card">
    {% if auth.user.prom.rank < item.rank %} {% include 'templates/partials/zabrana.twig' %} {% endif %}
    <img class="card-img-top" src="{{baseUrl}}/resources/img/cars/{{item.id}}.png">
    <h3 class="title">{{item.title}}</h3>
    <div class="card-body">
      <div class="row carCards">
        {% if x[7] %}
          <div class="col">
            {%include 'templates/svg/money-bag.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Цена">{{item.price}}$</span>
          </div>
          <div class="col">
            {%include 'templates/svg/speed.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Брзина">{{item.speed}}kph</span>
          </div>
          <div class="w-100"></div>
          <div class="col">
            {%include 'templates/svg/dmg.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Штета">{{row1[2][key]}}%</span>
          </div>
          <div class="col">
            {%include 'templates/svg/seat.svg'%}
            <span  data-toggle="tooltip" data-placement="top" title="Седишта">{{item.seats}}</span>
          </div>
        {% else %}
          <div class="col col-5">
            {%include 'templates/svg/money-bag.svg'%}
            <span  data-toggle="tooltip" data-placement="top" title="Цена">{{item.price}}$</span>
          </div>
          <div class="col">
            {%include 'templates/svg/timer.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Потребно време">{{ x[6] ? '90' : item.time }}s</span>
          </div>
          <div class="col">
            {%include 'templates/svg/seat.svg'%}
            <span  data-toggle="tooltip" data-placement="top" title="Седишта">{{item.seats}}</span>
          </div>
          <div class="w-100"></div>
            <div class="col">
              <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#ffc107">
                  <path d="M0 0h24v24H0z" fill="none"/>
                  <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
              </svg>
              <span data-toggle="tooltip" data-placement="top" title="Потребна енергија">{{item.energija}}%</span>
            </div>
          <div class="col">
          {% if row1[2][key] %}
            {%include 'templates/svg/dmg.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Штета">{{row1[2][key]}}%</span>
          {% else %}
            {%include 'templates/svg/chance.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Шанса за успешна кражба">{{auth.user.inventory.chance('car',item.id)}}%</span>
          {% endif %}
          </div>
          <div class="col col-5">
            {%include 'templates/svg/speed.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Брзина">{{item.speed}}kph</span>
          </div>
        {% endif %}
      </div>
      <button class="btn btn-danger {{x[4]}}">{{x[5]}}</button>
      {% if x[6] %}
        <input type="hidden" value="{{row1[1][key]}}">
      {% else %}
        <input type="hidden" value="{{item.id}}">
      {% endif %}
    </div>
    </div>
    {% else %}
    <div class="card">
      <svg class="w-100 d-block rounded" viewBox="0 0 840 740" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g transform="matrix(1,0,0,1,700,240)" >
        <path fill="rgb(86,101,115)" fill-opacity="1" d=" M-350.0669860839844,12.932999610900879 C-350.0669860839844,12.932999610900879 -325.72698974609375,-25.673999786376953 -325.72698974609375,-25.673999786376953 C-324.34100341796875,-27.87299919128418 -321.25799560546875,-28.18600082397461 -319.4580078125,-26.31100082397461 C-319.4580078125,-26.31100082397461 -299,-5 -299,-5 C-299,-5 -258.7080078125,-67.26899719238281 -258.7080078125,-67.26899719238281 C-257.0480041503906,-69.83499908447266 -253.24000549316406,-69.66600036621094 -251.81300354003906,-66.96399688720703 C-251.81300354003906,-66.96399688720703 -209.5489959716797,13.065999984741211 -209.5489959716797,13.065999984741211 C-208.8459930419922,14.39799976348877 -209.81199645996094,
        16 -211.3179931640625,16 C-211.3179931640625,16 -348.375,16 -348.375,16 C-349.9490051269531,16 -350.9070129394531,14.265000343322754 -350.0669860839844,12.932999610900879z"></path><path fill="rgb(86,101,115)" fill-opacity="1" d=" M-330,-75 C-330,-83.28399658203125 -323.28399658203125,-90 -315,-90 C-306.71600341796875,-90 -300,-83.28399658203125 -300,-75 C-300,-66.71600341796875 -306.71600341796875,-60 -315,-60 C-323.28399658203125,-60 -330,-66.71600341796875 -330,-75z"></path></g>
          <rect id="Rectangle-6-Copy" fill="#ECF0F1" x="0" y="420" width="100%" height="100%"></rect>
          <rect id="Rectangle-5" fill="#D7DCDD" x="80" y="476" width="266" height="50" rx="2"></rect>
          <rect id="Rectangle-5-Copy1" fill="#D7DCDD" x="400" y="476" width="150" height="50" rx="2"></rect>
          <rect id="Rectangle-5-Copy2" fill="#D7DCDD" x="600" y="476" width="160" height="50" rx="2"></rect>
          <rect id="Rectangle-3" fill="#D7DCDD" x="80" y="560" width="180" height="50" rx="2"></rect>
          <rect id="Rectangle-3-Copy1" fill="#D7DCDD" x="300" y="560" width="150" height="50" rx="2"></rect>
          <rect id="Rectangle-3-Copy2" fill="#D7DCDD" x="500" y="560" width="260" height="50" rx="2"></rect>
          <rect id="Rectangle-btn" fill="rgb(86,101,115)" x="0" y="660" width="100%" height="80" rx="2"></rect>
          <rect id="Rectangle-btn-text" fill="#D7DCDD" x="295" y="680" width="270" height="40" rx="2"></rect>
          <text transform="rotate(-35)" x="-200" y="580" fill="var(--dark)" style="font-size: 80px;font-weight:600;">НЕ ПОСЕДУВАШ!</text>
        </svg>
    </div>
  {% endfor %}
</div>
<div class="card-columns carCards" id="second"style="display:none">
  {% for key, item in row2[0] %}
    <div class="card">
    {% if auth.user.prom.rank < item.rank %} {% include 'templates/partials/zabrana.twig' %} {% endif %}
    <img class="card-img-top" src="{{baseUrl}}/resources/img/cars/{{item.id}}.png" alt="Card image cap">
    <h3 class="title">{{item.title}}</h3>
    <div class="card-body">
      <div class="row carCards">
        {% if x[7] %}
          <div class="col">
            {%include 'templates/svg/money-bag.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Цена">{{item.price}}$</span>
          </div>
          <div class="col">
            {%include 'templates/svg/speed.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Брзина">{{item.speed}}kph</span>
          </div>
          <div class="w-100"></div>
          <div class="col">
            {%include 'templates/svg/dmg.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Штета">{{row2[2][key]}}%</span>
          </div>
          <div class="col">
            {%include 'templates/svg/seat.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Седишта">{{item.seats}}</span>
          </div>
        {% else %}
        <div class="col col-5">
          {%include 'templates/svg/money-bag.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Цена">{{item.price}}$</span>
        </div>
        <div class="col">
          {%include 'templates/svg/timer.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Време на кражба">{{ x[6] ? '90' : item.time }}s</span>
        </div>
        <div class="col">
          {%include 'templates/svg/seat.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Седишта">{{item.seats}}</span>
        </div>
        <div class="w-100"></div>
          <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#ffc107">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
            </svg>
            <span data-toggle="tooltip" data-placement="top" title="Потребна енергија за кражба">{{item.energija}}%</span>
          </div>
        <div class="col">
        {% if row2[2][key] %}
          {%include 'templates/svg/dmg.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Штета">{{row2[2][key]}}%</span>
        {% else %}
          {%include 'templates/svg/chance.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Шанса за успешна кражба">{{auth.user.inventory.chance('car',item.id)}}%</span>
        {% endif %}
        </div>
        <div class="col col-5">
          {%include 'templates/svg/speed.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Брзина">{{item.speed}}kph</span>
        </div>
        {% endif %}
      </div>
      <button class="btn btn-danger {{x[4]}}">{{x[5]}}</button>
      {% if x[6] %}
        <input type="hidden" value="{{row2[1][key]}}">
      {% else %}
        <input type="hidden" value="{{item.id}}">
      {% endif %}
    </div>
    </div>
    {% else %}
    <div class="card">
      <svg class="w-100 d-block rounded" viewBox="0 0 840 740" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g transform="matrix(1,0,0,1,700,240)" >
        <path fill="rgb(86,101,115)" fill-opacity="1" d=" M-350.0669860839844,12.932999610900879 C-350.0669860839844,12.932999610900879 -325.72698974609375,-25.673999786376953 -325.72698974609375,-25.673999786376953 C-324.34100341796875,-27.87299919128418 -321.25799560546875,-28.18600082397461 -319.4580078125,-26.31100082397461 C-319.4580078125,-26.31100082397461 -299,-5 -299,-5 C-299,-5 -258.7080078125,-67.26899719238281 -258.7080078125,-67.26899719238281 C-257.0480041503906,-69.83499908447266 -253.24000549316406,-69.66600036621094 -251.81300354003906,-66.96399688720703 C-251.81300354003906,-66.96399688720703 -209.5489959716797,13.065999984741211 -209.5489959716797,13.065999984741211 C-208.8459930419922,14.39799976348877 -209.81199645996094,
        16 -211.3179931640625,16 C-211.3179931640625,16 -348.375,16 -348.375,16 C-349.9490051269531,16 -350.9070129394531,14.265000343322754 -350.0669860839844,12.932999610900879z"></path><path fill="rgb(86,101,115)" fill-opacity="1" d=" M-330,-75 C-330,-83.28399658203125 -323.28399658203125,-90 -315,-90 C-306.71600341796875,-90 -300,-83.28399658203125 -300,-75 C-300,-66.71600341796875 -306.71600341796875,-60 -315,-60 C-323.28399658203125,-60 -330,-66.71600341796875 -330,-75z"></path></g>
      		<rect id="Rectangle-6-Copy" fill="#ECF0F1" x="0" y="420" width="100%" height="100%"></rect>
      		<rect id="Rectangle-5" fill="#D7DCDD" x="80" y="476" width="266" height="50" rx="2"></rect>
      		<rect id="Rectangle-5-Copy1" fill="#D7DCDD" x="400" y="476" width="150" height="50" rx="2"></rect>
          <rect id="Rectangle-5-Copy2" fill="#D7DCDD" x="600" y="476" width="160" height="50" rx="2"></rect>
          <rect id="Rectangle-3" fill="#D7DCDD" x="80" y="560" width="180" height="50" rx="2"></rect>
          <rect id="Rectangle-3-Copy1" fill="#D7DCDD" x="300" y="560" width="150" height="50" rx="2"></rect>
          <rect id="Rectangle-3-Copy2" fill="#D7DCDD" x="500" y="560" width="260" height="50" rx="2"></rect>
          <rect id="Rectangle-btn" fill="rgb(86,101,115)" x="0" y="660" width="100%" height="80" rx="2"></rect>
          <rect id="Rectangle-btn-text" fill="#D7DCDD" x="295" y="680" width="270" height="40" rx="2"></rect>
          <text transform="rotate(-35)" x="-200" y="580" fill="var(--dark)" style="font-size: 80px;font-weight:600;">НЕ ПОСЕДУВАШ!</text>
      	</svg>
    </div>
  {% endfor %}
</div>
<div class="card-columns carCards" id="last" style="display:none">
  {% for key, item in row3[0] %}
    <div class="card">
    {% if auth.user.prom.rank < item.rank %} {% include 'templates/partials/zabrana.twig' %} {% endif %}
    <img class="card-img-top" src="{{baseUrl}}/resources/img/cars/{{item.id}}.png">
    <h3 class="title">{{item.title}}</h3>
    <div class="card-body">
      <div class="row carCards">
        {% if x[7] %}
          <div class="col">
            {%include 'templates/svg/money-bag.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Цена">{{item.price}}$</span>
          </div>
          <div class="col">
            {%include 'templates/svg/speed.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Брзина">{{item.speed}}kph</span>
          </div>
          <div class="w-100"></div>
          <div class="col">
            {%include 'templates/svg/dmg.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Штета">{{row3[2][key]}}%</span>
          </div>
          <div class="col">
            {%include 'templates/svg/seat.svg'%}
            <span data-toggle="tooltip" data-placement="top" title="Седишта">{{item.seats}}</span>
          </div>
        {% else %}
        <div class="col col-5">
          {%include 'templates/svg/money-bag.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Цена">{{item.price}}$</span>
        </div>
        <div class="col">
          {%include 'templates/svg/timer.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Време на кражба">{{ x[6] ? '90' : item.time }}s</span>
        </div>
        <div class="col">
          {%include 'templates/svg/seat.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Седишта">{{item.seats}}</span>
        </div>
        <div class="w-100"></div>
          <div class="col">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#ffc107">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
            </svg>
            <span data-toggle="tooltip" data-placement="top" title="Потребна енергија за кражба">{{item.energija}}%</span>
          </div>
        <div class="col">
        {% if row3[2][key] %}
          {%include 'templates/svg/dmg.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Штета">{{row3[2][key]}}%</span>
        {% else %}
          {%include 'templates/svg/chance.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Шанса за успешна кражба">{{auth.user.inventory.chance('car',item.id)}}%</span>
        {% endif %}
        </div>
        <div class="col col-5">
          {%include 'templates/svg/speed.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Брзина">{{item.speed}}kph</span>
        </div>
        {% endif %}
      </div>
      <button class="btn btn-danger {{x[4]}}">{{x[5]}}</button>
      {% if x[6] %}
        <input type="hidden" value="{{row3[1][key]}}">
      {% else %}
        <input type="hidden" value="{{item.id}}">
      {% endif %}
    </div>
    </div>
    {% else %}
    <div class="card">
      <svg class="w-100 d-block rounded" viewBox="0 0 840 740" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <g transform="matrix(1,0,0,1,700,240)" >
        <path fill="rgb(86,101,115)" fill-opacity="1" d=" M-350.0669860839844,12.932999610900879 C-350.0669860839844,12.932999610900879 -325.72698974609375,-25.673999786376953 -325.72698974609375,-25.673999786376953 C-324.34100341796875,-27.87299919128418 -321.25799560546875,-28.18600082397461 -319.4580078125,-26.31100082397461 C-319.4580078125,-26.31100082397461 -299,-5 -299,-5 C-299,-5 -258.7080078125,-67.26899719238281 -258.7080078125,-67.26899719238281 C-257.0480041503906,-69.83499908447266 -253.24000549316406,-69.66600036621094 -251.81300354003906,-66.96399688720703 C-251.81300354003906,-66.96399688720703 -209.5489959716797,13.065999984741211 -209.5489959716797,13.065999984741211 C-208.8459930419922,14.39799976348877 -209.81199645996094,
        16 -211.3179931640625,16 C-211.3179931640625,16 -348.375,16 -348.375,16 C-349.9490051269531,16 -350.9070129394531,14.265000343322754 -350.0669860839844,12.932999610900879z"></path><path fill="rgb(86,101,115)" fill-opacity="1" d=" M-330,-75 C-330,-83.28399658203125 -323.28399658203125,-90 -315,-90 C-306.71600341796875,-90 -300,-83.28399658203125 -300,-75 C-300,-66.71600341796875 -306.71600341796875,-60 -315,-60 C-323.28399658203125,-60 -330,-66.71600341796875 -330,-75z"></path></g>
          <rect id="Rectangle-6-Copy" fill="#ECF0F1" x="0" y="420" width="100%" height="100%"></rect>
          <rect id="Rectangle-5" fill="#D7DCDD" x="80" y="476" width="266" height="50" rx="2"></rect>
          <rect id="Rectangle-5-Copy1" fill="#D7DCDD" x="400" y="476" width="150" height="50" rx="2"></rect>
          <rect id="Rectangle-5-Copy2" fill="#D7DCDD" x="600" y="476" width="160" height="50" rx="2"></rect>
          <rect id="Rectangle-3" fill="#D7DCDD" x="80" y="560" width="180" height="50" rx="2"></rect>
          <rect id="Rectangle-3-Copy1" fill="#D7DCDD" x="300" y="560" width="150" height="50" rx="2"></rect>
          <rect id="Rectangle-3-Copy2" fill="#D7DCDD" x="500" y="560" width="260" height="50" rx="2"></rect>
          <rect id="Rectangle-btn" fill="rgb(86,101,115)" x="0" y="660" width="100%" height="80" rx="2"></rect>
          <rect id="Rectangle-btn-text" fill="#D7DCDD" x="295" y="680" width="270" height="40" rx="2"></rect>
          <text transform="rotate(-35)" x="-200" y="580" fill="var(--dark)" style="font-size: 80px;font-weight:600;">НЕ ПОСЕДУВАШ!</text>
        </svg>
    </div>
  {% endfor %}
</div>
