<div class='container p-0'></div>
{% if x[0] %}
{% if auth.user.prom.rank > 4 %}
<style media="screen">
 .form-group.last{
   margin-bottom: 30px;
 }
</style>
<div class="card-columns">
  <div class="card">
  <img class="card-img-top" src="{{baseUrl}}/resources/img/clan.jpg">
  <div class="card-body">
      <div class="form-group">
        <label for="username">Име</label>
        <input type="text" class="form-control"  name="name" placeholder="Фамилија"/>
      </div>
      <div class="form-group last">
        <label for="moto">Мото</label>
        <textarea class="form-control" name="moto" rows="3"></textarea>
      </div>
      <button class="btn btn-danger clan">КРЕИРАЈ</button>
    </div>
  </div>
</div>
{% else %}
<div class="card">
  <svg class="w-100 d-block rounded" viewBox="0 0 840 740" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <g transform="matrix(1,0,0,1,700,240)" >
    <path fill="rgb(86,101,115)" fill-opacity="1" d=" M-350.0669860839844,12.932999610900879 C-350.0669860839844,12.932999610900879 -325.72698974609375,-25.673999786376953 -325.72698974609375,-25.673999786376953 C-324.34100341796875,-27.87299919128418 -321.25799560546875,-28.18600082397461 -319.4580078125,-26.31100082397461 C-319.4580078125,-26.31100082397461 -299,-5 -299,-5 C-299,-5 -258.7080078125,-67.26899719238281 -258.7080078125,-67.26899719238281 C-257.0480041503906,-69.83499908447266 -253.24000549316406,-69.66600036621094 -251.81300354003906,-66.96399688720703 C-251.81300354003906,-66.96399688720703 -209.5489959716797,13.065999984741211 -209.5489959716797,13.065999984741211 C-208.8459930419922,14.39799976348877 -209.81199645996094,
    16 -211.3179931640625,16 C-211.3179931640625,16 -348.375,16 -348.375,16 C-349.9490051269531,16 -350.9070129394531,14.265000343322754 -350.0669860839844,12.932999610900879z"></path><path fill="rgb(86,101,115)" fill-opacity="1" d=" M-330,-75 C-330,-83.28399658203125 -323.28399658203125,-90 -315,-90 C-306.71600341796875,-90 -300,-83.28399658203125 -300,-75 C-300,-66.71600341796875 -306.71600341796875,-60 -315,-60 C-323.28399658203125,-60 -330,-66.71600341796875 -330,-75z"></path></g>
      <rect id="Rectangle-6-Copy" fill="#ECF0F1" x="0" y="420" width="100%" height="100%"></rect>
      <rect id="Rectangle-5" fill="#D7DCDD" x="80" y="476" width="266" height="50" rx="2"></rect>
      <rect id="Rectangle-5-Copy1" fill="#D7DCDD" x="400" y="476" width="150" height="50" rx="2"></rect>
      <rect id="Rectangle-5-Copy2" fill="#D7DCDD" x="600" y="476" width="160" height="50" rx="2"></rect>
      <rect id="Rectangle-3" fill="#D7DCDD" x="80" y="560" width="180" height="50" rx="2"></rect>
      <rect id="Rectangle-3-Copy1" fill="#D7DCDD" x="300" y="560" width="150" height="50" rx="2"></rect>
      <rect id="Rectangle-3-Copy2" fill="#D7DCDD" x="500" y="560" width="260" height="50" rx="2"></rect>
      <rect id="Rectangle-btn" fill="rgb(86,101,115)" x="0" y="660" width="100%" height="80" rx="2"></rect>
      <rect id="Rectangle-btn-text" fill="#D7DCDD" x="295" y="680" width="270" height="40" rx="2"></rect>
      <text transform="rotate(-35)" x="-200" y="580" fill="var(--dark)" style="font-size: 80px;font-weight:600;">4level!</text>
    </svg>
</div>
{% endif %}
{% else %}
<style media="screen">
  .card-img-overlay img{
    border-radius: 50%;
    margin: auto;
    display: block;
  }
  .card-img-overlay .name{
    margin-top: 10px;
   background-color: var(--dark);
   border-radius: 20px;
  }
</style>
<div class="card-columns carCards">
<div class="card">
  <img class="card-img-top" src="{{baseUrl}}/resources/img/clan.jpg" height="170px">
  <div class="card-img-overlay">
    <img  src="{{auth.user.get_gravatar(clan.email)}}" width="92" height="92">
    <div class="name">
    {{clan.name}} | {{auth.user.getName(clan.user_id)}}
    </div>
  </div>
  <div class="card-body pb-0">
    <div class="row {{x[1] ? 'mb-4':'mb-0'}}" style="margin-left:15px;">
      <div class="col col-6">
        {%include'templates/svg/gem.svg'%}
        <span data-toggle="tooltip" data-placement="top" title="Почит">{{clan.pocit}}</span>
      </div>
      <div class="col col-auto">
         {%include 'templates/svg/money-bag.svg'%}
         <span data-toggle="tooltip" data-placement="top" title="Пари">{{clan.pari}}$</span>
       </div>
      <div class="w-100"></div>
      <div class="col col-6">
         <img src="{{baseUrl}}/resources/img/profile.jpg" class="rounded-circle" width="30" height="30">
         <span data-toggle="tooltip" data-placement="top" title="Members">{{clan.members}}/20</span>
       </div>
       <div class="col col-auto">
          {%include 'templates/svg/mok.svg'%}
          <span data-toggle="tooltip" data-placement="top" title="Моќ">{{clan.mok}}</span>
        </div>
    </div>
    {% if x[1] == 1 %}
      <button class="btn btn-danger leave">НАПУШТИ<input type="hidden" value="{{auth.user.id}}"></button>
    {% else %}
      {% if x[1] == 2 %}
        <button class="btn btn-danger clanRemove">ИЗБРИШИ</button>
      {% endif %}
    {% endif %}
  </div>
</div>
  <div class="card">
    <div class="card-body">
      <h3 class="title" style="margin:0 0 10px 0;text-shadow:none;color:#000;">MOTO</h3>
      {% if x[1] == 2 %}
      <textarea class="form-control mb-4" id="moto" rows="3" style="resize:none;">{{clan.moto}}</textarea>
      <button class="btn btn-danger moto">ПРОМЕНИ</button>
      {% else %}
        <span>{{clan.moto}}</span>
      {% endif %}
    </div>
  </div>
  <div class="card">
    <table class="table" id="igraci" data-paging="true" data-paging-size="10">
    <thead class="thead-dark">
      <tr>
        <th>ИМЕ</th>
        <th>ПАРИ</th>
        <th data-breakpoints="xs">МОЌ</th>
        <th data-breakpoints="xs sm">ПОЧИТ</th>
        {% if x[1] == 2 %}<th data-breakpoints="xs sm">НАПУШТИ</th>{% endif %}
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
        <tr>
          <td><img src="{{auth.user.get_gravatar(member.email,40)}}" width="40" height="40" style="border-radius:50%;"> {{member.username}}</td>
          <td>{{member.prom.pari}}$</td>
          <td>{{member.prom.mok}}</td>
          <td>{{member.prom.pocit}}</td>
          {% if x[1] == 2 and member.id != clan.user_id %}<td><button class="btn btn-danger leave">НАПУШТИ<input type="hidden" value="{{member.id}}"></button></td>{% endif %}
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
    <script type="text/javascript">
    $(function(){
    $('#igraci').footable();
    });
    </script>
  </div>
</div>
{% endif %}
