<style media="screen">
  .container-fluid .card-columns{column-count: 1!important;}
  .container-fluid{padding-top: 120px;}
  .circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-left: 5px;
  }
</style>
<div class="card-navigation">
  <ul class="nav nav-fill">
    <li class="nav-item" id="1">
      <a class="nav-link">ТЕКОВНИ</a>
    </li>
    <li class="nav-item" id="2">
      <a class="nav-link">ПОНУДИ</a>
    </li>
    <li class="nav-item" id="3">
      <a class="nav-link">СОЗДАДИ</a>
    </li>
  </ul>
</div>
<div class='container p-0'></div>
<div class="card-columns" id="first">
  <div class="card">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>ШОФЕР</th>
          <th>ХИТМЕН</th>
        </tr>
      </thead>
      <tbody>
        {% for key, item in row1 %}
        <tr>
          <td> <span>{{auth.user.getName(item.prom('sofer','id'))}}</span><span class="circle" style="{{auth.user.displayStatus(item.prom('sofer','accept'))}}"></span></td>
          <td> <span>{{auth.user.getName(item.prom('hitmen','id'))}}<span class="circle" style="{{auth.user.displayStatus(item.prom('hitmen','accept'))}}"></span></span>
            <button type="button" class="btn btn-danger float-right planed_start">ЗАПОЧНИ <input type="hidden" value="{{item.id}}"></button>
          </td>
        </tr>
        {% else %}
        <tr>
          <td>Немаш започнато!</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="card-columns carCards" id="second"style="display:none">
  <style media="screen">
    td span{
      font-size: 18px;
      margin-top: 5px;
      display: inline-block;
    }
  </style>
  <div class="card">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>ИМЕ</th>
            <th>ТИП</th>
          </tr>
        </thead>
        <tbody>
          {% for key, item in row2 %}
          <tr>
            <td> <span>{{item.username}}</span> </td>
            <td> <span>{{hire[key]}}</span>
              <button type="button" class="btn btn-danger float-right {{ hire[key] == 'sofer' ? 'expandCarsBtn' : 'expandWeaponsBtn'}}">ОДОБРИ <input type="hidden" value="{{item.id}}"></button>
            </td>
          </tr>
          {% else %}
          <tr>
            <td>Немаш понуди!</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
  </div>
   <div class="expand expandCars" style="display:none">
    {% for key,car in cars[0] %}
      <div class="card">
      <img class="card-img-top" src="{{baseUrl}}/resources/img/cars/{{car.id}}.png" alt="Card image cap">
      <h3 class="title">{{car.title}}</h3>
      <div class="card-body">
      <div class="row carCards">
        <div class="col" data-toggle="tooltip" data-placement="top" title="Парична вредност">
          {%include 'templates/svg/money-bag.svg'%}
          <span>{{car.price}}$</span>
        </div>
        <div class="col" data-toggle="tooltip" data-placement="top" title="Седишта">
          {%include 'templates/svg/seat.svg'%}
          <span>{{car.seats}}</span>
        </div>
        <div class="w-100"></div>
        <div class="col" data-toggle="tooltip" data-placement="top" title="Steta">
          {%include 'templates/svg/dmg.svg'%}
          <span>{{cars[2][key]}}%</span>
        </div>
        <div class="col" data-toggle="tooltip" data-placement="top" title="Брзина">
          {%include 'templates/svg/speed.svg'%}
          <span>{{car.speed}}kph</span>
        </div>
      </div>
      <button class="btn btn-danger planed_acept">ODBERI<input type="hidden" value="{{cars[1][key]}}"></button>
    </div>
    </div>
    {% else %}
       nemate kola
    {% endfor %}
  </div>
  <div class="expand expandWeapons" style="display:none">
    <style media="screen">
      .card .btn.planed_acept{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    </style>
    <div class="card">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Weapon</th>
              <th scope="col">Kolicina</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td >M1-Grand</td>
              <td>x1</td>
            </tr>
            <tr>
              <td >Nos</td>
                <td> x1</td>
            </tr>
            <tr>
              <td >Glock</td>
                <td> x1</td>
            </tr>
            <tr>
              <td >Grande</td>
                <td> x1</td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-danger planed_acept">ODBERI<input type="hidden" value="1"></button>
    </div>
    <div class="card">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Weapon</th>
              <th scope="col">Kolicina</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td >C-4</td>
              <td >x2</td>
            </tr>
            <tr>
              <td >Desert egle</td>
                <td> x1</td>
            </tr>
            <tr>
              <td >Double bareld Shoutgun</td>
                <td> x1</td>
            </tr>
            <tr>
              <td >Ar-15</td>
                <td> x1</td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-danger planed_acept">ODBERI<input type="hidden" value="2"> </button>
    </div>
    <div class="card">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Weapon</th>
              <th scope="col">Kolicina</th>
            </tr>
          </thead>
          <tbody>
              <td >Uzi</td>
                <td> x1</td>
            </tr>
          </tbody>
        </table>
        <button class="btn btn-danger planed_acept">ODBERI<input type="hidden" value="3"></button>
    </div>
  </div>
</div>
  <div class="card-columns" id="last" style="display:none;">
    <div class="card">
    <div class="card-body">
      <div class="row" style="margin-left: -15px!important;">
        <div class="col">
          <label for="hitmen">Хитмен</label>
          <input type="text" class="form-control hitmen"  aria-describedby="hitmen" name="hitmen" placeholder="Корисничко име на мафијашот">
          <small id="hitmen" class="form-text text-muted">Човек кој ќе ве брани со оружје додека бегате.</small>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <label for="hitmen">Шофер</label>
          <input type="text" class="form-control sofer"  aria-describedby="sofer" name="sofer" placeholder="Корисничко име на шоферот">
          <small id="sofer" class="form-text text-muted">Шофер- искусен возач кој што нема да дозволи да ве фане полиција!</small>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <label for="slider">Пари</label><br>
          <input  type="range" min="5000" max="50000" value="5000" class="slider">
          <input type="number" class="result" value="5000">
        </div>
      </div>
      <button class="btn btn-danger planed">СОЗДАДИ</button>
    </div>
  </div>
</div>
<script type="text/javascript">
  $('.expandCarsBtn').click(function(){
    $('.expand').fadeOut(1);
    $('.expandCars').fadeIn();
    $('.expandCars').append("<input type='hidden' value='"+$(this).children('input').val()+"'>");
    $(this).parents('.card').removeClass('fill');
  });
  $('.expandWeaponsBtn').click(function(){
    $('.expand').fadeOut(1);
    $('.expandWeapons').fadeIn();
    $('.expandWeapons').append("<input type='hidden' value='"+$(this).children('input').val()+"'>");
    $(this).parents('.card').removeClass('fill');
  });
</script>
