<style media="screen">
.container-fluid{
  padding-top: 120px;
}
.container-fluid .card-columns .card-body .row{
  margin-left: -15px!important;
}
</style>
<div class="card-navigation">
  <ul class="nav nav-fill">
    <li class="nav-item" id="1">
      <a class="nav-link">КУПИ</a>
    </li>
    <li class="nav-item" id="2">
      <a class="nav-link">ПРОДАДИ</a>
    </li>
    <li class="nav-item" id="3">
      <a class="nav-link">СОСТОЈБА</a>
    </li>
  </ul>
</div>
<div class='container p-0'></div>
<div class="card-columns" id="first">
  {% for item in row1 %}
    <div class="card" >
    {% if auth.user.prom.rank < item.rank %} {% include 'templates/partials/zabrana.twig' %} {% endif %}
    <img class="card-img-top" src="{{baseUrl}}/resources/img/{{item.type}}/{{item.id}}.png">
    <h3 class="title">{{item.title}}</h3>
    <div class="card-body">
      <div class="row">
        <input type="hidden" value="{{item.price.state(auth.user.prom.place)}}">
        <div class="col col-7">
          {%include 'templates/svg/money-bag.svg'%}
          <span class="outPari" data-toggle="tooltip" data-placement="top" title="Цена"><output>{{item.price.state(auth.user.prom.place)}}</output>$</span>
        </div>
        <div class="col">
          {%include 'templates/svg/zaliha.svg'%}
          <span class="zal" data-toggle="tooltip" data-placement="top" title="Залиха">{{item.zaliha}}</span>
        </div>
        <div class="w-100"></div>
        <div class="col">
          <input type="range" min="{{auth.user.inventory.zaliha(item.type,item.id)}}" max="{{item.zaliha}}" value="{{auth.user.inventory.zaliha(item.type,item.id)}}" class="slider">
          <input type="number" class="result" value="{{auth.user.inventory.zaliha(item.type,item.id)}}">
        </div>
      </div>
      <button class="btn btn-danger drink_drug">КУПИ</button>
      <input type="hidden" value="{{item.id}}">
      <input type="hidden" value="add">
    </div>
    </div>
  {% endfor %}
</div>
<div class="card-columns" id="second"style="display:none">
  {% for item in row2 %}
  <div class="card">
  <img class="card-img-top" src="{{baseUrl}}/resources/img/{{item.type}}/{{item.id}}.png">
  <h3 class="title">{{item.title}}</h3>
  <div class="card-body">
    <div class="row">
      <input type="hidden" value="{{item.price.state(auth.user.prom.place)}}">
      <div class="col col-7">
        {%include 'templates/svg/money-bag.svg'%}
        <span class="outPari" data-toggle="tooltip" data-placement="top" title="Цена"><output>{{item.price.state(auth.user.prom.place)}}</output>$</span>
      </div>
      <div class="col">
        {%include 'templates/svg/zaliha.svg'%}
        <span data-toggle="tooltip" data-placement="top" title="Залиха">{{auth.user.inventory.zaliha(item.type,item.id)}}</span>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <input type="range" min="0" max="{{auth.user.inventory.zaliha(item.type,item.id)}}" value="0" class="slider reverse">
        <input type="number" class="result" value="0">
      </div>
    </div>
    <button class="btn btn-danger drink_drug">ПРОДАЈ</button>
    <input type="hidden" value="{{item.id}}">
    <input type="hidden" value="sell">
  </div>
  </div>
  {% else %}
  <div class="card">
    <svg class="w-100 d-block rounded" viewBox="0 0 840 740" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <g transform="matrix(1,0,0,1,700,240)" >
      <path fill="rgb(86,101,115)" fill-opacity="1" d=" M-350.0669860839844,12.932999610900879 C-350.0669860839844,12.932999610900879 -325.72698974609375,-25.673999786376953 -325.72698974609375,-25.673999786376953 C-324.34100341796875,-27.87299919128418 -321.25799560546875,-28.18600082397461 -319.4580078125,-26.31100082397461 C-319.4580078125,-26.31100082397461 -299,-5 -299,-5 C-299,-5 -258.7080078125,-67.26899719238281 -258.7080078125,-67.26899719238281 C-257.0480041503906,-69.83499908447266 -253.24000549316406,-69.66600036621094 -251.81300354003906,-66.96399688720703 C-251.81300354003906,-66.96399688720703 -209.5489959716797,13.065999984741211 -209.5489959716797,13.065999984741211 C-208.8459930419922,14.39799976348877 -209.81199645996094,
      16 -211.3179931640625,16 C-211.3179931640625,16 -348.375,16 -348.375,16 C-349.9490051269531,16 -350.9070129394531,14.265000343322754 -350.0669860839844,12.932999610900879z"></path><path fill="rgb(86,101,115)" fill-opacity="1" d=" M-330,-75 C-330,-83.28399658203125 -323.28399658203125,-90 -315,-90 C-306.71600341796875,-90 -300,-83.28399658203125 -300,-75 C-300,-66.71600341796875 -306.71600341796875,-60 -315,-60 C-323.28399658203125,-60 -330,-66.71600341796875 -330,-75z"></path></g>
    		<rect id="Rectangle-6-Copy" fill="#ECF0F1" x="0" y="420" width="100%" height="100%"></rect>
    		<rect id="Rectangle-5" fill="#D7DCDD" x="80" y="476" width="266" height="50" rx="2"></rect>
    		<rect id="Rectangle-5-Copy" fill="#D7DCDD" x="500" y="476" width="266" height="50" rx="2"></rect>
    		<rect id="Rectangle-3" fill="#D7DCDD" x="80" y="560" width="685" height="50" rx="2"></rect>
    		<rect id="Rectangle-3-Copy" fill="rgb(86,101,115)" x="300" y="555" width="60" height="60" rx="2"></rect>
        <rect id="Rectangle-btn" fill="rgb(86,101,115)" x="0" y="660" width="100%" height="80" rx="2"></rect>
        <rect id="Rectangle-btn-text" fill="#D7DCDD" x="295" y="680" width="270" height="40" rx="2"></rect>
        <text transform="rotate(-35)" x="-200" y="580" fill="var(--dark)" style="font-size: 80px;font-weight:600;">NEMAS KUPENO!</text>
    </svg>
  </div>
  {% endfor %}
</div>
<div class="card-columns" id="last" style="display:none;column-count:1;">
  <div class="card">
  <table class="table" id="stocks">
  	<thead class="thead-dark">
  		<tr>
  			<th>ИМЕ</th>
  			<th>CP</th>
  			<th>SV</th>
  			<th data-breakpoints="xs sm">YK</th>
  			<th data-breakpoints="xs sm md">AH</th>
        <th data-breakpoints="xs sm md">VL</th>
        <th data-breakpoints="xs sm md">BL</th>
        <th data-breakpoints="xs sm md">CT</th>
  		</tr>
  	</thead>
  	<tbody>
      {% for key,item in row3 %}
    		<tr>
    			<td>{{name[key]}}</td>
    			<td style="color:{{ item.price > item.CP ?'var(--red)':'var(--green)' }}">{{item.CP}}$</td>
    			<td style="color:{{ item.price > item.SV ?'var(--red)':'var(--green)' }}">{{item.SV}}$</td>
    			<td style="color:{{ item.price > item.YK ?'var(--red)':'var(--green)' }}">{{item.YK}}$</td>
    			<td style="color:{{ item.price > item.AH ?'var(--red)':'var(--green)' }}">{{item.AH}}$</td>
    			<td style="color:{{ item.price > item.VL ?'var(--red)':'var(--green)' }}">{{item.VL}}$</td>
          <td style="color:{{ item.price > item.BL ?'var(--red)':'var(--green)' }}">{{item.BL}}$</td>
          <td style="color:{{ item.price > item.CT ?'var(--red)':'var(--green)' }}">{{item.CT}}$</td>
    		</tr>
      {% endfor %}
  	</tbody>
  </table>
  </div>
</div>
<script type="text/javascript">
$(function(){
  $('#stocks').footable();
});
</script>
