<style media="screen">
.container-fluid{
  padding-top: 120px;
}
</style>
<div class="card-navigation">
  <ul class="nav nav-fill">
    <li class="nav-item" id="1">
      <a class="nav-link">{{x[1]}}</a>
    </li>
    <li class="nav-item" id="2">
      <a class="nav-link">{{x[2]}}</a>
    </li>
    <li class="nav-item" id="3">
      <a class="nav-link">{{x[3]}}</a>
    </li>
  </ul>
</div>
<div class='container p-0'></div>
<div class="card-columns" id="first">
  {% for item in row1 %}
    <div class="card" >
      {% if auth.user.prom.rank < item.rank %} {% include 'templates/partials/zabrana.twig' %} {% endif %}
    <img class="card-img-top" src="{{baseUrl}}/resources/img/{{item.type}}/{{item.id}}.png">
    <h3 class="title">{{item.title}}</h3>
    <div class="card-body">
      <div class="row">
      <div class="col">
        {%include 'templates/svg/money-bag.svg'%}
        <span data-toggle="tooltip" data-placement="top" title="Заработка">{{item.getPrice()}}$</span>
      </div>
      <div class="col">
        {%include 'templates/svg/timer.svg'%}
        <span data-toggle="tooltip" data-placement="top" title="Време на извршување">{{item.time}}s</span>
      </div>
      <div class="w-100"></div>
      <div class="col">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#ffc107">
            <path d="M0 0h24v24H0z" fill="none"/>
            <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
        </svg>
        <span data-toggle="tooltip" data-placement="top" title="Потребна енергија">{{item.energija}}%</span>
      </div>
      <div class="col">
        {%include 'templates/svg/chance.svg'%}
        {% if item.chance == 0 %}
          <span data-toggle="tooltip" data-placement="top" title="Шанса за успешно извршување">{{auth.user.inventory.chance(item.type,item.id)}}%</span>
        {% else %}
          <span data-toggle="tooltip" data-placement="top" title="Шанса за успешно извршување">{{item.chance}}%</span>
        {% endif %}
      </div>
      </div>
      <button class="btn btn-danger {{item.type}}">{{x[5]}}</button>
      <input type="hidden" value="{{item.id}}">
    </div>
    </div>
  {% endfor %}
</div>
<div class="card-columns" id="second"style="display:none">
  {% for item in row2 %}
  <div class="card" >
    {% if auth.user.prom.rank < item.rank %} {% include 'templates/partials/zabrana.twig' %} {% endif %}
  <img class="card-img-top" src="{{baseUrl}}/resources/img/{{item.type}}/{{item.id}}.png">
  <h3 class="title">{{item.title}}</h3>
  <div class="card-body">
    <div class="row">
    <div class="col" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      {%include 'templates/svg/money-bag.svg'%}
      <span>{{item.getPrice()}}$</span>
    </div>
    <div class="col" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      {%include 'templates/svg/timer.svg'%}
      <span>{{item.time}}s</span>
    </div>
    <div class="w-100"></div>
    <div class="col" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#ffc107">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
      </svg>
      <span>{{item.energija}}%</span>
    </div>
    <div class="col" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      {%include 'templates/svg/chance.svg'%}
      {% if item.chance == 0 %}
        <span>{{auth.user.inventory.chance(item.type,item.id)}}%</span>
      {% else %}
        <span>{{item.chance}}%</span>
      {% endif %}
    </div>
    </div>
    <button class="btn btn-danger {{item.type}}">{{x[5]}}</button>
    <input type="hidden" value="{{item.id}}">
  </div>
  </div>
  {% endfor %}
</div>
<div class="card-columns" id="last" style="display:none">
  {% for item in row3 %}
  <div class="card" >
    {% if auth.user.prom.rank < item.rank %} {% include 'templates/partials/zabrana.twig' %} {% endif %}
  <img class="card-img-top" src="{{baseUrl}}/resources/img/{{item.type}}/{{item.id}}.png">
  <h3 class="title">{{item.title}}</h3>
  <div class="card-body">
    <div class="row">
    <div class="col" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      {%include 'templates/svg/money-bag.svg'%}
      <span>{{item.getPrice()}}$</span>
    </div>
    <div class="col" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      {%include 'templates/svg/timer.svg'%}
      <span>{{item.time}}s</span>
    </div>
    <div class="w-100"></div>
    <div class="col" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="#ffc107">
          <path d="M0 0h24v24H0z" fill="none"/>
          <path d="M7 2v11h3v9l7-12h-4l4-8z"/>
      </svg>
      <span>{{item.energija}}%</span>
    </div>
    <div class="col" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
      {%include 'templates/svg/chance.svg'%}
      {% if item.chance == 0 %}
        <span>{{auth.user.inventory.chance(item.type,item.id)}}%</span>
      {% else %}
        <span>{{item.chance}}%</span>
      {% endif %}
    </div>
    </div>
    <button class="btn btn-danger {{item.type}}">{{x[5]}}</button>
    <input type="hidden" value="{{item.id}}">
  </div>
  </div>
  {% endfor %}
</div>
