{% if auth.user.contact.friends_pending|length >= 2 %}
<label for="confirm">ПОНУДИ</label>
<ul name="confirm" class="confirm">
  {% for friend in auth.user.contact.getFriendsPending() %}
  <li><img src="{{auth.user.get_gravatar(friend.email,40)}}"width="40" height="40"><span>{{friend.username}}</span><span style="{{auth.user.displayStatus(friend.energy.status)}}"></span> </li>
  {% endfor %}
</ul>
{% endif %}
{% if auth.user.clan.pending_members|length >= 2 %}
<label for="clanConfirm">ПОНУДИ-КЛАН</label>
<ul name="clanConfirm" class="clanConfirm">
  {% for member in auth.user.clan.getMembersPending() %}
  <li><img src="{{auth.user.get_gravatar(member.email,40)}}"width="40" height="40"><span>{{member.username}}</span><span style="{{auth.user.displayStatus(member.energy.status)}}"></span> </li>
  {% endfor %}
</ul>
{% endif %}
{% if auth.user.contact.friends >= 1 %}
<label for="friends">ПРИЈАТЕЛИ</label>
<ul name="friends" class="friends">
  {% for friend in auth.user.contact.getFriends() %}
  <li><img src="{{auth.user.get_gravatar(friend.email,40)}}"width="40" height="40"><span>{{friend.username}} </span>{{auth.user.contact.checkMsg(friend.id)}}<span style="{{auth.user.displayStatus(friend.energy.status)}}"></span> </li>
  {% endfor %}
</ul>
{% endif %}

<label for="clans">ФАМИЛИИ</label>
<ul name="clans" class="clans">
  {% for clan in auth.user.getClans() %}
  <li><img src="{{auth.user.get_gravatar(clan.email,40)}}" width="40" height="40"> <span>{{clan.name}}</span> <span style="background:var(--gray-dark)"></span> </li>
  {% endfor %}
</ul>
