<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <img id="logo"src="{{baseUrl}}/resources/img/logo4.png" width="40" height="40" class="d-inline-block align-top" alt="">
  <a href="{{path_for('home') }}"> <img id="name"src="{{baseUrl}}/resources/img/logo1.png" min-width="400px" height="40px" class="d-inline-block align-top" alt="Underworld"></a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
   <div class="hamburger d-flex flex-column justify-content-around text-center">
     <div class="hamburger__patty"></div>
     <div class="hamburger__patty"></div>
     <div class="hamburger__patty"></div>
   </div>
  </button>
  <div id="navbar"class="collapse navbar-collapse">
    <ul class="nav navbar-nav ml-auto ">
      {% if auth.check %}
        {% if auth.user.permissions.hasPermission('is_admin')%}
        <li class="nav-item active">
          <a class="nav-link" href="{{path_for('admin') }}"> <span>АДМИН</span></a>
        </li>
        {% endif %}
        <li class="nav-item active ">
          <a class="nav-link " href="{{path_for('update') }}"> <span>ПОСТAВКИ</span></a>
        </li>
        <li class="nav-item active ">
          <a class="nav-link " href="{{path_for('auth.signout') }}"> <span>ОДЈАВА</span></a>
        </li>
      {% else %}
        <li class="nav-item active ">
          <a class="nav-link " href="{{path_for('auth.signup') }}"> <span>РЕГИСТРАЦИЈА</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{path_for('auth.signin') }}"> <span>НАЈАВА</span></a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
{% if auth.check %}
<div class="chatMenu">
  <div class="chat">
    <div class="expand btn-group" role="group">
      <button type="button" class="btn btn-danger add">ДОДАДИ</button>
      <button type="button" class="btn btn-danger profil">ПРОФИЛ</button>
      <button type="button" class="btn btn-danger messenger" disabled>ЧАТ</button>
    </div>
    <div class="content" onmouseover="this.style.overflow='scroll'" onmouseout="this.style.overflow='hidden'">{%include 'templates/partials/chatTiles.twig'%}</div>
    <div class="search">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24">
        <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
      <input type="text" id="search" placeholder="Пребарувај...">
    </div>
    <div id="messenger-container"></div>
    <div id="chat-loading">  <div class="wrap d-block">
        <div class="spinner spinner-1">
          <div class="spiner spiner-2"><span></span></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="menu">
<nav class="sidebar">
  <div class="profile">
    <div class="img">
      <div class="progress blue" id="myProf">
        <span class="progress-left">
          <span class="progress-bar"></span>
        </span>
        <span class="progress-right">
          <span class="progress-bar"></span>
        </span>
        <div class="progress-value">
         <span class="num">...</span>
         <img src="{{auth.user.get_gravatar(auth.user.email)}}" width="92" height="92">
        </div>
      </div>
      <script type="text/javascript">
        $(function(){
          var input = {{auth.user.prom.procent()}};
          if(input == 100){input--;}
          var output = (360 * input) / 100;
          if(output <= 180){
            output1 = output;
            output2 = 0;
          }else{
            output1 = 180 ;
            output2= output - 180;
          }
          $('.progress').children('.progress-value').children('.num').html(input+'%');
          $('.progress').children('.progress-right').children('.progress-bar').css('-webkit-transform',"rotate("+output1+"deg)");
          $('.progress').children('.progress-left').children('.progress-bar').css('-webkit-transform',"rotate("+output2+"deg)");
        });
      </script>
      <div class="name">
        <span>{{auth.user.username}}</span><br>
        {% if auth.user.contact.clan %}  <span>{{auth.user.contact.clan}}</span><br>
        {% else %}
        clan:nan<br>
        {% endif %}
      </div>
    </div>
    <ul id="stats-container" class="nav navbar-nav">
      <li>
        {%include 'templates/svg/mok.svg'%}
        <span data-toggle="tooltip" data-placement="right" title="mok">{{auth.user.prom.mok}}</span>
      </li>
      <li>{%include 'templates/svg/money-bag.svg'%}<span id="pari" data-toggle="tooltip" data-placement="right" title="Парична вредност">{{auth.user.prom.pari}}</span>$</li>
      <li>
        {%include 'templates/svg/earth-globe.svg' %}
        <span data-toggle="tooltip" data-placement="right" title="Mesto na zive">{{auth.user.state(auth.user.prom.place)}}</span>
      </li>
      <li>
        <div class="progress">
          <div class="progress-bar  bg-warning" role="progressbar" style="width:{{auth.user.energy.energija}}%"><span>{{auth.user.energy.energija}}%</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill=" #ffc107"style="left:{{auth.user.energy.energija - 10}}%">
              <path d="M0 0h24v24H0z" fill="none"/>
              <path d="M7 2v11h3v9l7-12h-4l4-8z" stroke="#e9ecef"/>
            </svg>
          </div>
        </div>
      </li>
      <li>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" style="width:{{auth.user.prom.health}}%"><span>{{auth.user.prom.health}}%</span>
            <svg  id="Capa_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 57" fill="#ec1a23" style="left:{{auth.user.prom.health - 10}}%">
            <path d="M51.911,16.242C51.152,7.888,45.239,1.827,37.839,1.827c-4.93,0-9.444,2.653-11.984,6.905
              c-2.517-4.307-6.846-6.906-11.697-6.906c-7.399,0-13.313,6.061-14.071,14.415c-0.06,0.369-0.306,2.311,0.442,5.478
              c1.078,4.568,3.568,8.723,7.199,12.013l18.115,16.439l18.426-16.438c3.631-3.291,6.121-7.445,7.199-12.014
              C52.216,18.553,51.97,16.611,51.911,16.242z" stroke="#e9ecef"/>
            </svg>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="navigation" onmouseover="this.style.overflow='scroll'" onmouseout="this.style.overflow='hidden'">
    <ul class="nav navbar-nav">
        <li data-toggle="collapse" data-target="#crime" class="collapsed">
          <svg  xmlns="http://www.w3.org/2000/svg"viewBox="0 0 512 512">
      		<path d="M296,80.477c-5.53,0-9.99,4.452-9.99,9.99c0,6.359,5.796,11.039,11.99,9.788c4.629-0.935,7.99-4.994,7.99-9.788
      			C305.99,84.937,301.538,80.477,296,80.477z"/>
      		<path d="M256,80.467c-19.149,0-18.159-0.863-37.098-2.712c-5.499-0.54-10.388,3.484-10.925,8.98
      			c-0.537,5.497,3.484,10.388,8.981,10.925c18.362,1.793,18.596,2.807,39.042,2.807c5.523,0,10-4.477,10-10
      			S261.523,80.467,256,80.467z"/>
      		<path d="M450.462,348.27l-34.951-11.653l13.559-13.559c2.094-2.094,3.152-5.008,2.89-7.957c-0.263-2.95-1.818-5.631-4.249-7.322
      			l-73.718-51.301l5.968-64.598C397.051,185.201,466,167.759,466,130.467c0-36.146-64.607-53.474-100.216-60.342
      			c0.14-3.408,0.216-6.845,0.216-10.288c0-29.075-4.995-45.773-16.195-54.143C336.342-4.367,318.524,0.897,299.66,6.47
      			c-13.275,3.922-28.322,8.367-43.661,8.367s-30.385-4.445-43.661-8.367c-18.864-5.574-36.682-10.836-50.145-0.776
      			C150.995,14.064,146,30.762,146,59.837c0,3.445,0.075,6.883,0.215,10.288C110.505,77.013,46,94.349,46,130.467
      			c0,37.293,68.952,54.735,106.038,61.413l5.968,64.598l-73.718,51.301c-2.431,1.691-3.986,4.373-4.249,7.322
      			c-0.262,2.949,0.796,5.863,2.89,7.957l13.56,13.559l-34.95,11.653C24.73,360.54,0,394.85,0,433.647v68.34c0,5.523,4.477,10,10,10
      			c129.445,0,396.358,0,492,0c5.523,0,10-4.477,10-10v-68.34C512,394.85,487.27,360.539,450.462,348.27z M174.167,21.715
      			c5.436-4.063,18.585-0.178,32.506,3.935c14.576,4.306,31.096,9.187,49.327,9.187c18.231,0,34.751-4.881,49.327-9.187
      			c13.921-4.113,27.071-7.997,32.506-3.935c3.05,2.279,8.167,10.263,8.167,38.122c0,18.421-2.206,37.269-6.817,55.116
      			c-26.056,3.66-54.005,5.514-83.183,5.514c-29.178,0-57.126-1.854-83.183-5.514C168.142,96.856,166,78.013,166,59.837
      			C166,31.978,171.117,23.995,174.167,21.715z M66,130.467c0-12.312,28.07-29.593,81.855-40.288
      			c1.534,12.558,4.025,24.806,7.459,36.529c1.091,3.726,4.24,6.483,8.077,7.073c28.86,4.437,60.019,6.686,92.609,6.686
      			c32.59,0,63.75-2.25,92.609-6.686c3.837-0.59,6.986-3.347,8.077-7.073c3.434-11.723,5.924-23.971,7.459-36.529
      			C417.93,100.875,446,118.155,446,130.467c0,13.585-33.279,32.71-96.887,42.979c-28.397,4.593-60.595,7.021-93.113,7.021
      			s-64.716-2.428-93.116-7.022C99.279,163.177,66,144.052,66,130.467z M256,325.987c-22.938,0-44.655-10.002-59.585-27.445
      			c-10.821-12.634-16.919-27.877-18.417-43.075l-5.58-60.398c26.148,3.538,54.763,5.398,83.583,5.398s57.436-1.86,83.583-5.398
      			l-5.576,60.34c-1.503,15.29-7.62,30.521-18.425,43.135C300.655,315.984,278.938,325.987,256,325.987z M306.968,331.761
      			l-7.124,29.392c-8.44,9.726-24.645,24.835-43.844,24.835c-19.199,0-35.404-15.109-43.844-24.835l-7.124-29.392
      			c15.203,9.21,32.778,14.226,50.968,14.226S291.766,340.971,306.968,331.761z M20,491.987v-58.34
      			c0-30.175,19.234-56.861,47.863-66.403l44.436-14.815l22.004,22.004l-49.851,33.234c-2.237,1.491-3.78,3.821-4.279,6.463
      			c-0.499,2.642,0.086,5.374,1.625,7.579l49.031,70.278H20z M155.215,491.987l-51.171-73.345l51.501-34.334
      			c2.493-1.662,4.109-4.354,4.404-7.335c0.295-2.981-0.762-5.938-2.88-8.057l-51.548-51.548l56.839-39.554
      			c3.597,11.16,9.166,21.614,16.497,30.859c0.711,2.932,44.391,183.16,44.428,183.314H155.215z M243.866,491.987l-23.58-97.291
      			c11.597,7.384,23.753,11.291,35.714,11.291s24.117-3.907,35.714-11.291l-23.58,97.291H243.866z M288.713,491.987l44.429-183.314
      			c7.332-9.246,12.9-19.699,16.497-30.859l56.838,39.554l-51.548,51.548c-2.118,2.119-3.175,5.075-2.88,8.057
      			c0.295,2.981,1.912,5.673,4.404,7.335l51.501,34.334l-51.171,73.345H288.713z M492,491.987H381.17l49.031-70.278
      			c1.539-2.205,2.124-4.937,1.625-7.579c-0.5-2.642-2.042-4.972-4.279-6.463l-49.851-33.234l22.004-22.004l44.438,14.815
      			C472.766,376.787,492,403.472,492,433.647V491.987z"/>
          </svg>
          <span>КРИМИНАЛ</span>
          <svg class="svg"xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
              <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </li>
        </li>
        <ul class="sub-menu collapse" id="crime">
            <li>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 92.198 92.198" >
            		<path d="M72.971,52.891c-3.279-5.076-8.369-8.874-14.363-10.458c-3.779,3.526-8.832,5.703-14.398,5.703
            			c-5.564,0-10.619-2.177-14.398-5.703c-5.459,1.443-10.168,4.726-13.449,9.13c4.328,2.295,14.709,6.842,29.01,6.842
            			C54.531,58.403,63.787,56.551,72.971,52.891z"/>
            		<path d="M11.503,76.178v9.897l0.051,0.308l1.375,0.432c4.279,1.336,8.357,2.354,12.254,3.148l5.264,0.963
            			c5.795,0.903,11.107,1.272,15.881,1.272c18.055,0,28.521-5.147,29.166-5.476l1.283-0.649l0.137,0.002V77.68
            			c-10.455,3.043-20.928,4.588-31.273,4.588C30.423,82.266,18.591,78.9,11.503,76.178z"/>
            		<path d="M76.913,69.602v-3.443c0-0.729-0.033-1.452-0.097-2.165L76.014,60c-10.303,4.159-20.66,6.266-30.878,6.266
            			c-15.703,0-27.193-5.035-32.369-7.834c-0.811,2.432-1.264,5.025-1.264,7.728v1.636c5.668,2.428,17.854,6.618,34.422,6.618
            			C56.214,74.412,66.6,72.797,76.913,69.602z"/>
            		<path d="M45.158,20.662c0,2.637,3.344,4.782,7.455,4.782c4.109,0,7.453-2.146,7.453-4.782s-3.344-4.782-7.453-4.782
            			C48.501,15.88,45.158,18.025,45.158,20.662z M58.066,20.662c0,1.313-2.332,2.782-5.453,2.782s-5.455-1.469-5.455-2.782
            			s2.334-2.782,5.455-2.782S58.066,19.349,58.066,20.662z"/>
            		<path d="M35.798,15.88c-4.111,0-7.455,2.146-7.455,4.782s3.344,4.782,7.455,4.782c2.928,0,5.596-1.104,6.795-2.812l0.18-0.259
            			v-3.423l-0.182-0.258C41.394,16.983,38.726,15.88,35.798,15.88z M40.773,21.71c-0.787,0.873-2.584,1.734-4.975,1.734
            			c-3.123,0-5.455-1.469-5.455-2.782s2.332-2.782,5.455-2.782c2.391,0,4.188,0.86,4.975,1.734V21.71z"/>
            		<path d="M44.208,44.512c12.293,0,22.256-9.964,22.256-22.256c0-1.98-0.262-3.898-0.745-5.726l-4.089,5.72
            			c-0.985,2.872-4.59,4.947-9.018,4.947c-2.81,0-5.281-0.838-6.973-2.18h-2.871c-1.689,1.342-4.164,2.18-6.971,2.18
            			c-4.4,0-7.984-2.049-9-4.891l-4.105-5.748c-0.48,1.819-0.74,3.728-0.74,5.697C21.953,34.548,31.917,44.512,44.208,44.512z"/>
            		<path d="M29.689,15.705c1.623-0.985,3.748-1.578,6.109-1.578c2.641,0,4.99,0.739,6.666,1.943h3.48
            			c1.678-1.204,4.024-1.943,6.668-1.943c2.348,0,4.461,0.586,6.079,1.561l-0.002-0.005l5.433-2.625
            			c0.33-0.058,0.679-0.118,1.037-0.181c2.664,2.955,7.565,8.454,10.896,12.567c3.369,4.161,0.912-8.373-4.565-13.625
            			c2.709-0.433,5.504-0.85,7.885-1.144c6.25-0.77-11.354-6.932-17.313-1.696C58.006,3.531,51.521,0,44.207,0
            			C35.248,0,27.529,5.298,24,12.93l5.697,2.753L29.689,15.705z"/>
              </svg>
              Злосторства
              <input type="hidden" value="crime">
            </li>
            <li>
				<svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 403.051 403.051">
					<path  d="M144.957,148.066l31.82-31.82l-21.213-21.213L49.498,201.1l144.951,144.953
						c0.001,0.001,0.003,0.003,0.004,0.004c5.85,5.849,15.367,5.849,21.215,0.001c2.834-2.834,4.395-6.601,4.395-10.607
						c0-4.002-1.559-7.767-4.388-10.599c-0.002-0.003-0.005-0.004-0.007-0.006c-0.001-0.001-0.002-0.003-0.004-0.005l-21.21-21.209
						c-5.858-5.858-5.858-15.355-0.001-21.213c5.857-5.857,15.355-5.858,21.214,0l21.214,21.213c0.002,0.002,0.004,0.005,0.007,0.008
						c5.85,5.84,15.36,5.838,21.206-0.007c5.848-5.849,5.849-15.365,0-21.213c-0.004-0.005-0.008-0.01-0.014-0.015l-21.199-21.199
						c-5.857-5.858-5.857-15.355,0-21.213c5.857-5.857,15.355-5.858,21.213-0.001l21.209,21.208c0.005,0.005,0.009,0.01,0.014,0.015
						c5.849,5.836,15.353,5.835,21.199-0.005c0.002-0.002,0.004-0.003,0.005-0.005l0.01-0.01c2.826-2.833,4.384-6.595,4.384-10.597
						c0.001-4.001-1.555-7.761-4.381-10.592l-7.084-7.085c-0.002-0.002-0.004-0.004-0.006-0.007l-53.026-53.026l-31.82,31.82
						c-0.001,0.001-0.001,0.001-0.001,0.001c-8.772,8.771-20.295,13.158-31.818,13.158c-11.524,0-23.047-4.387-31.82-13.16
						c-17.541-17.542-17.543-46.083-0.008-63.63C144.951,148.073,144.954,148.069,144.957,148.066z"/>
					<polygon  points="129.886,78.287 134.352,73.821 113.137,52.607 0,165.745 21.213,186.958 	"/>
					<path  d="M208.607,126.842c-0.004,0.004-0.007,0.008-0.011,0.012c-0.004,0.004-0.008,0.007-0.012,0.01
						l-42.413,42.415c-0.002,0.001-0.002,0.001-0.003,0.002c-5.847,5.85-5.846,15.365,0.001,21.212
						c5.85,5.848,15.366,5.849,21.215-0.001l42.426-42.426c2.813-2.813,6.629-4.394,10.606-4.394c3.979,0,7.794,1.581,10.606,4.394
						l63.637,63.637c0,0.001,0.002,0.001,0.002,0.001l7.069,7.069c0.001,0.001,0.001,0.001,0.003,0.002
						c0.001,0.001,0.002,0.003,0.004,0.005l10.602,10.602l21.213-21.213L240.416,95.033L208.607,126.842z"/>

						<rect  x="247.339" y="108.318" transform="matrix(-0.7071 -0.7071 0.7071 -0.7071 480.1409 445.516)" width="170.001" height="30"/>

				</svg>
              Организиран
              <input type="hidden" value="planed_crime">
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                  <path d="M18.92 6.01C18.72 5.42 18.16 5 17.5 5h-11c-.66 0-1.21.42-1.42 1.01L3 12v8c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-1h12v1c0 .55.45 1 1 1h1c.55 0 1-.45 1-1v-8l-2.08-5.99zM6.5 16c-.83 0-1.5-.67-1.5-1.5S5.67 13 6.5 13s1.5.67 1.5 1.5S7.33 16 6.5 16zm11 0c-.83 0-1.5-.67-1.5-1.5s.67-1.5 1.5-1.5 1.5.67 1.5 1.5-.67 1.5-1.5 1.5zM5 11l1.5-4.5h11L19 11H5z"/>
                  <path d="M0 0h24v24H0z" fill="none"/>
              </svg>
              Автомобили
              <input type="hidden" value="cars">
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450 450" width="28px" height="28px">
              		<path d="M87.945,75.913c-1.877-7.41-9.408-11.893-16.818-10.018c-7.413,1.879-11.897,9.409-10.019,16.821l90.439,356.838
              			c1.589,6.271,7.224,10.446,13.409,10.446c1.127,0,2.271-0.139,3.413-0.428c7.409-1.877,11.895-9.409,10.017-16.819L87.945,75.913z
              			"/>
              		<path d="M388.98,176.419c-14.739-54.423-29.492-108.842-44.234-163.265c-1.598-5.891-4.399-12.21-14.929-12.842
              			C246.929-5.691,192.503,76.854,109.614,70.85c-6.541-0.806-10.745,2.6-9.148,8.491c14.743,54.422,29.372,108.877,44.233,163.266
              			c2.385,8.729,8.388,12.035,14.931,12.842c82.887,6.004,137.315-76.541,220.205-70.537
              			C386.375,185.716,390.577,182.311,388.98,176.419z M323.934,20.857c4.066,15.015,8.138,30.029,12.204,45.044
              			c-17.436,0.574-32.825,4.092-49.132,10.203c-4.065-15.015-8.137-30.03-12.202-45.044C291.109,24.951,306.498,21.43,323.934,20.857
              			z M153.13,189.197c-4.627-17.059-9.246-34.122-13.868-51.182c18.328-0.531,34.591-4.503,51.602-11.227
              			c-4.07-15.015-8.138-30.03-12.204-45.045c16.629-7.433,32.314-16.332,48.022-25.523c4.066,15.014,8.138,30.029,12.205,45.044
              			c-15.709,9.19-31.395,18.092-48.023,25.524c4.623,17.06,9.244,34.122,13.866,51.182
              			C187.718,184.693,171.457,188.665,153.13,189.197z M217.114,223.674c-4.129-15.234-8.256-30.47-12.384-45.706
              			c16.513-7.377,32.087-16.201,47.683-25.327c4.128,15.236,8.256,30.471,12.383,45.707
              			C249.202,207.475,233.626,216.297,217.114,223.674z M252.75,152.445c-4.619-17.061-9.242-34.122-13.863-51.183
              			c15.706-9.17,31.403-17.945,48.119-25.157c4.624,17.06,9.246,34.121,13.867,51.181C284.16,134.5,268.458,143.274,252.75,152.445z
              			 M313.545,172.876c-4.129-15.234-8.256-30.47-12.385-45.706c16.211-6.045,31.521-9.521,48.843-10.086
              			c4.129,15.236,8.257,30.471,12.386,45.705C345.066,163.355,329.754,166.83,313.545,172.876z"/>
              </svg>
              Tрки
              <input type="hidden" value="trki">
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
              	<path d="M63.946,118.649c5.727,0,11.353-0.897,16.773-2.625l32.214,32.192l35.279-35.272l-32.199-32.227
              		c6.207-19.396,1.107-40.888-13.359-55.349C92.356,15.067,78.647,9.396,64.091,9.396c-8.133,0-16.288,1.843-23.605,5.332
              		c-1.104,0.526-1.877,1.552-2.084,2.755c-0.201,1.203,0.186,2.424,1.045,3.291l33.894,33.902c2.501,2.499,3.881,5.817,3.881,9.339
              		c0,3.531-1.382,6.843-3.881,9.342c-4.979,4.994-13.684,4.994-18.672-0.013L20.763,39.451c-0.869-0.869-2.118-1.25-3.287-1.048
              		c-1.206,0.207-2.229,0.98-2.755,2.084c-9.958,20.868-5.69,45.858,10.641,62.177C35.666,112.968,49.368,118.649,63.946,118.649z"/>
              	<path d="M236.074,181.348c-5.739,0-11.374,0.903-16.798,2.635l-35.631-35.634l-35.303,35.297l35.641,35.64
              		c-6.194,19.39-1.098,40.876,13.359,55.346c10.301,10.301,24.01,15.973,38.565,15.973c8.137,0,16.291-1.847,23.608-5.335
              		c1.104-0.525,1.877-1.552,2.084-2.755c0.207-1.203-0.186-2.425-1.045-3.291l-33.893-33.909c-2.496-2.493-3.875-5.805-3.878-9.327
              		c0-3.528,1.379-6.84,3.884-9.342c4.995-4.998,13.681-4.995,18.666,0.003l33.899,33.893c0.866,0.863,2.075,1.247,3.291,1.048
              		c1.203-0.21,2.23-0.98,2.755-2.084c9.958-20.865,5.693-45.852-10.638-62.174C264.339,187.029,250.64,181.348,236.074,181.348z"/>
              	<path d="M221.571,100.988c0,0,5.897,5.165,10.759,2.752c5.495-2.765,20.976,12.497,25.915,16.068
              		c0.016,0.012,0.05,0.012,0.108,0.04l-2.7,2.712c-3.566,3.525-3.563,9.281-0.009,12.812c3.556,3.541,9.274,3.538,12.831,0
              		l21.378-21.35c3.532-3.55,3.535-9.296-0.006-12.84c-3.528-3.532-9.283-3.532-12.824,0.003l-3.56,3.557
              		c-2.95-4.063-7.852-10.988-7.23-13.282c2.607-10.047-17.875-33.779-17.875-33.779C197.49,6.823,163.513,7.979,147.349,13.537
              		c-6.488,2.232-5.285,3.646,1.454,4.833c49.04,8.56,55.123,37.48,46.81,48.638c-3.197,4.308,1.466,9.509,1.466,9.509l1.753,1.741
              		l-82.803,82.788c1.123,0.677,2.214,1.447,3.176,2.412l13.929,13.916c0.946,0.949,1.719,2.032,2.39,3.154l82.804-82.791
              		L221.571,100.988z"/>
              	<path d="M113.632,169.025c-3.056-3.059-8.257-3.256-11.526-0.417l-92.019,82.497c-3.284,2.836-3.467,7.663-0.405,10.725
              		l25.064,25.046c3.064,3.062,7.882,2.891,10.715-0.375l82.522-92.046c2.823-3.266,2.644-8.449-0.421-11.507L113.632,169.025z"/>
              </svg>
              Работа
              <input type="hidden" value="rabota">
            </li>
        </ul>
        <li  data-toggle="collapse" data-target="#trgovija" class="collapsed ">
			<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 297 297">
				<path d="M287.379,10.123H112.23c-5.313,0-9.62,4.309-9.62,9.621v43.832c0,3.99,0.752,7.805,2.109,11.322H9.621
					C4.308,74.898,0,79.205,0,84.518v27.957c0,11.914,6.639,22.305,16.408,27.668v137.113c0,5.313,4.308,9.621,9.62,9.621h253.147
					c5.313,0,9.62-4.309,9.62-9.621V84.777C293.891,79.174,297,71.732,297,63.576V19.744C297,14.432,292.692,10.123,287.379,10.123z
					 M110.814,267.635H35.649V143.73c6.854-0.902,13.023-4.01,17.76-8.594c5.673,5.49,13.395,8.873,21.892,8.873
					s16.221-3.383,21.895-8.873c3.762,3.639,8.427,6.346,13.619,7.76V267.635z M110.814,121.527c-2.45-2.248-3.999-5.469-3.999-9.053
					c0-5.313-4.308-9.619-9.62-9.619c-5.313,0-9.621,4.307-9.621,9.619c0,6.779-5.506,12.293-12.273,12.293
					c-6.766,0-12.269-5.514-12.269-12.293c0-5.313-4.308-9.619-9.621-9.619c-5.313,0-9.62,4.307-9.62,9.619
					c0,6.779-5.508,12.293-12.276,12.293c-6.767,0-12.273-5.514-12.273-12.293V94.139h91.573V121.527z M213.995,267.635h-28.381
					v-60.129h28.381V267.635z M269.555,267.635h-36.317v-69.75c0-5.313-4.309-9.621-9.621-9.621h-47.622
					c-5.313,0-9.621,4.309-9.621,9.621v69.75h-36.317V94.84c1.333,0.172,2.688,0.271,4.067,0.271c8.499,0,16.222-3.383,21.896-8.873
					c5.673,5.49,13.395,8.873,21.891,8.873c8.498,0,16.222-3.383,21.894-8.873c5.675,5.49,13.397,8.873,21.896,8.873
					c8.497,0,16.22-3.383,21.893-8.873c5.673,5.488,13.396,8.873,21.893,8.875h0.001c1.38,0,2.735-0.1,4.068-0.273V267.635z
					 M277.759,63.576c0,6.779-5.505,12.293-12.271,12.295c-6.768-0.002-12.274-5.518-12.274-12.295c0-5.313-4.308-9.621-9.621-9.621
					c-5.313,0-9.62,4.309-9.62,9.621c0,6.779-5.505,12.293-12.271,12.293c-6.768,0-12.274-5.514-12.274-12.293
					c0-5.313-4.308-9.621-9.621-9.621c-5.313,0-9.62,4.309-9.62,9.621c0,6.779-5.507,12.293-12.274,12.293
					c-6.765,0-12.269-5.514-12.269-12.293c0-5.313-4.308-9.621-9.621-9.621c-5.313,0-9.62,4.309-9.62,9.621
					c0,6.779-5.508,12.293-12.277,12.293c-6.766,0-12.271-5.514-12.271-12.293V29.365h155.907V63.576z"/>
				<path d="M184.77,108.895H153.02c-5.313,0-9.62,4.307-9.62,9.621v31.748c0,5.313,4.308,9.619,9.62,9.619h31.749
					c5.313,0,9.62-4.307,9.62-9.619v-31.748C194.39,113.201,190.082,108.895,184.77,108.895z M175.148,140.643h-12.507v-12.508h12.507
					V140.643z"/>
				<path d="M248.266,108.895h-31.748c-5.313,0-9.621,4.307-9.621,9.621v31.748c0,5.313,4.308,9.619,9.621,9.619h31.748
					c5.313,0,9.62-4.307,9.62-9.619v-31.748C257.886,113.201,253.578,108.895,248.266,108.895z M238.645,140.643h-12.507v-12.508
					h12.507V140.643z"/>
				<path d="M89.524,156.516H57.776c-5.313,0-9.62,4.309-9.62,9.621v31.748c0,5.313,4.308,9.621,9.62,9.621h31.748
					c5.313,0,9.621-4.309,9.621-9.621v-31.748C99.146,160.824,94.838,156.516,89.524,156.516z M79.904,188.264H67.397v-12.506h12.507
					V188.264z"/>
			</svg>
          <span>ТРГОВИЈА</span>
          <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
              <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </li>
        <ul class="sub-menu collapse" id="trgovija">
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" >
              		<path d="M506.886,374.802c-2.25-1.365-55.865-33.573-122.885-33.573c-6.901,0-13.75,0.274-20.523,0.689
              			c15.727-8.544,31.572-18.44,46.232-29.895C480.5,256.719,510.25,166.873,511.479,163.079c1.135-3.513,0.385-7.369-2-10.194
              			c-2.396-2.804-6.021-4.107-9.719-3.659c-3.063,0.459-75.646,11.872-142.083,72.294c-17.954,16.333-34.208,34.47-48.491,52.288
              			C315.52,249.087,320,221.356,320,191.805C320,89.586,267.167,7.922,264.917,4.503c-3.938-6.004-13.896-6.004-17.833,0
              			C244.833,7.922,192,89.586,192,191.805c0,29.552,4.48,57.282,10.814,82.004c-14.283-17.818-30.536-35.956-48.491-52.288
              			C87.885,161.098,15.302,149.685,12.24,149.227c-3.635-0.448-7.312,0.855-9.719,3.659c-2.385,2.825-3.135,6.681-2,10.194
              			c1.229,3.794,30.979,93.64,101.771,148.945c14.66,11.455,30.505,21.35,46.232,29.895c-6.773-0.416-13.622-0.689-20.523-0.689
              			c-67.021,0-120.635,32.207-122.885,33.573c-3.188,1.949-5.125,5.42-5.115,9.151c0.01,3.742,1.979,7.202,5.177,9.12
              			c2.281,1.365,56.625,33.541,122.823,33.541c14.766,0,29.318-2.122,43.143-5.344c-22.628,26.667-21.87,57.633-21.799,59.169
              			c0.146,3.283,1.792,6.327,4.469,8.234c1.823,1.303,3.99,1.98,6.188,1.98c1.021,0,2.042-0.146,3.042-0.438
              			c1.604-0.479,39.771-12.122,69.021-45.945c5.244-6.062,9.471-12.071,13.271-17.969v75.025c0,5.899,4.771,10.673,10.667,10.673
              			c5.896,0,10.667-4.774,10.667-10.673v-75.025c3.799,5.898,8.027,11.907,13.271,17.969c29.25,33.823,67.417,45.465,69.021,45.945
              			c1,0.292,2.021,0.438,3.042,0.438c2.198,0,4.365-0.677,6.188-1.98c2.677-1.907,4.323-4.951,4.469-8.234
              			c0.07-1.537,0.837-32.582-21.878-59.271c13.9,3.281,28.496,5.446,43.221,5.446c67.021,0,120.635-32.207,122.885-33.573
              			c3.177-1.939,5.115-5.399,5.115-9.12C512,380.201,510.063,376.74,506.886,374.802z"/>
             </svg>
              Дрога
              <input type="hidden" value="drugs">
            </li>
            <li>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
                  <path d="M21 5V3H3v2l8 9v5H6v2h12v-2h-5v-5l8-9zM7.43 7L5.66 5h12.69l-1.78 2H7.43z"/>
                  <path fill="none" d="M0 0h24v24H0z"/>
              </svg>
              Алкохол
              <input type="hidden" value="drinks">
            </li>
        </ul>
        <li  data-toggle="collapse" data-target="#lokacii" class="collapsed ">
          <svg  xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 512 512">
        		<path d="M256,0C156.748,0,76,80.748,76,180c0,33.534,9.289,66.26,26.869,94.652l142.885,230.257
        			c2.737,4.411,7.559,7.091,12.745,7.091c0.04,0,0.079,0,0.119,0c5.231-0.041,10.063-2.804,12.75-7.292L410.611,272.22
        			C427.221,244.428,436,212.539,436,180C436,80.748,355.252,0,256,0z M384.866,256.818L258.272,468.186l-129.905-209.34
        			C113.734,235.214,105.8,207.95,105.8,180c0-82.71,67.49-150.2,150.2-150.2S406.1,97.29,406.1,180
        			C406.1,207.121,398.689,233.688,384.866,256.818z"/>
        		<path d="M256,90c-49.626,0-90,40.374-90,90c0,49.309,39.717,90,90,90c50.903,0,90-41.233,90-90C346,130.374,305.626,90,256,90z
        			 M256,240.2c-33.257,0-60.2-27.033-60.2-60.2c0-33.084,27.116-60.2,60.2-60.2s60.1,27.116,60.1,60.2
        			C316.1,212.683,289.784,240.2,256,240.2z"/>
          </svg>
          <span>ЛОКАЦИИ</span>
          <svg class="svg"xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
              <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </li>
        <ul class="sub-menu collapse" id="lokacii">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <path d="M0 0h24v24H0z" fill="none"/>
                <path d="M19 3H5c-1.1 0-1.99.9-1.99 2L3 19c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-1 11h-4v4h-4v-4H6v-4h4V6h4v4h4v4z"/>
            </svg>
            Болница
            <input type="hidden" value="hospital">
          </li>
          <li><svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 47.001 47.001">
        			<path d="M44.845,42.718H2.136C0.956,42.718,0,43.674,0,44.855c0,1.179,0.956,2.135,2.136,2.135h42.708
        				c1.18,0,2.136-0.956,2.136-2.135C46.979,43.674,46.023,42.718,44.845,42.718z"/>
        			<path d="M4.805,37.165c-1.18,0-2.136,0.956-2.136,2.136s0.956,2.137,2.136,2.137h37.37c1.18,0,2.136-0.957,2.136-2.137
        				s-0.956-2.136-2.136-2.136h-0.533V17.945h0.533c0.591,0,1.067-0.478,1.067-1.067s-0.478-1.067-1.067-1.067H4.805
        				c-0.59,0-1.067,0.478-1.067,1.067s0.478,1.067,1.067,1.067h0.534v19.219H4.805z M37.37,17.945v19.219h-6.406V17.945H37.37z
        				 M26.692,17.945v19.219h-6.406V17.945H26.692z M9.609,17.945h6.406v19.219H9.609V17.945z"/>
        			<path d="M2.136,13.891h42.708c0.007,0,0.015,0,0.021,0c1.181,0,2.136-0.956,2.136-2.136c0-0.938-0.604-1.733-1.443-2.021
        				l-21.19-9.535c-0.557-0.25-1.194-0.25-1.752,0L1.26,9.808c-0.919,0.414-1.424,1.412-1.212,2.396
        				C0.259,13.188,1.129,13.891,2.136,13.891z"/>
              </svg>
          Финансии
          <input type="hidden" value="bank">
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 459 459" >
            		<path d="M433.5,25.5h-408v51h408V25.5z M459,280.5v-51L433.5,102h-408L0,229.5v51h25.5v153h255v-153h102v153h51v-153H459z
            			 M229.5,382.5h-153v-102h153V382.5z"/>
            </svg>
          Продавница
          <input type="hidden" value="shop">
          </li>
          <li><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <path d="M21 16v-2l-8-5V3.5c0-.83-.67-1.5-1.5-1.5S10 2.67 10 3.5V9l-8 5v2l8-2.5V19l-2 1.5V22l3.5-1 3.5 1v-1.5L13 19v-5.5l8 2.5z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
          Патувај
          <input type="hidden" value="travel">
          </li>
          <li>
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 252.094 252.094">
            	<path d="M196.979,146.785c-1.091,0-2.214,0.157-3.338,0.467l-4.228,1.165l-6.229-15.173c-3.492-8.506-13.814-15.426-23.01-15.426
            		H91.808c-9.195,0-19.518,6.921-23.009,15.427l-6.218,15.145l-4.127-1.137c-1.124-0.31-2.247-0.467-3.338-0.467
            		c-5.485,0-9.467,3.935-9.467,9.356c0,5.352,3.906,9.858,9.2,11.211c-2.903,8.017-5.159,20.034-5.159,27.929v32.287
            		c0,6.893,5.607,12.5,12.5,12.5h4.583c6.893,0,12.5-5.607,12.5-12.5v-6.04h93.435v6.04c0,6.893,5.607,12.5,12.5,12.5h4.585
            		c6.893,0,12.5-5.607,12.5-12.5v-32.287c0-7.887-2.252-19.888-5.15-27.905c5.346-1.32,9.303-5.85,9.303-11.235
            		C206.445,150.72,202.464,146.785,196.979,146.785z M70.352,159.384l10.161-24.754c2.089-5.088,8.298-9.251,13.798-9.251h63.363
            		c5.5,0,11.709,4.163,13.798,9.251l10.161,24.754c2.089,5.088-0.702,9.251-6.202,9.251H76.554
            		C71.054,168.635,68.263,164.472,70.352,159.384z M97.292,199.635c0,2.75-2.25,5-5,5H71.554c-2.75,0-5-2.25-5-5v-8.271
            		c0-2.75,2.25-5,5-5h20.738c2.75,0,5,2.25,5,5V199.635z M185.203,199.635c0,2.75-2.25,5-5,5h-20.736c-2.75,0-5-2.25-5-5v-8.271
            		c0-2.75,2.25-5,5-5h20.736c2.75,0,5,2.25,5,5V199.635z"/>
            	<path d="M246.545,71.538L131.625,4.175c-1.525-0.894-3.506-1.386-5.578-1.386c-2.072,0-4.053,0.492-5.578,1.386L5.549,71.538
            		C2.386,73.392,0,77.556,0,81.223v160.582c0,4.135,3.364,7.5,7.5,7.5h12.912c4.136,0,7.5-3.365,7.5-7.5V105.917
            		c0-1.378,1.121-2.5,2.5-2.5h191.268c1.379,0,2.5,1.122,2.5,2.5v135.888c0,4.135,3.364,7.5,7.5,7.5h12.913
            		c4.136,0,7.5-3.365,7.5-7.5V81.223C252.094,77.556,249.708,73.392,246.545,71.538z"/>
            </svg>
          Гаража
          <input type="hidden" value="garaza">
        </li>
        </ul>
        <li  data-toggle="collapse" data-target="#kazino" class="collapsed ">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.975 511.975">
				<path d="M264.542,119.441c0-4.713-3.82-8.533-8.533-8.533c-80.081,0.089-144.977,64.986-145.067,145.067
				c0,4.713,3.82,8.533,8.533,8.533s8.533-3.82,8.533-8.533c0.08-70.659,57.341-127.92,128-128
				C260.721,127.974,264.542,124.154,264.542,119.441z"/>
				<path d="M256.009,383.974c-4.713,0-8.533,3.821-8.533,8.533c0,4.713,3.82,8.533,8.533,8.533
				c80.081-0.089,144.977-64.986,145.067-145.067c0-4.713-3.821-8.533-8.533-8.533c-4.713,0-8.533,3.82-8.533,8.533
				C383.929,326.634,326.668,383.894,256.009,383.974z"/>
			<path d="M505.387,198.656c0.043-0.094,0.068-0.171,0.043-0.256l-0.043-0.068c-6.362-27.49-17.248-53.732-32.213-77.653
				c-0.051-0.102,0-0.222-0.094-0.324c-0.205-0.302-0.433-0.587-0.683-0.853c-20.384-32.216-47.657-59.512-79.855-79.923
				c-0.27-0.243-0.555-0.468-0.853-0.674c-0.102-0.051-0.213,0-0.316-0.085c-23.942-14.98-50.212-25.869-77.73-32.222l-0.068-0.043
				c-0.074,0.004-0.148,0.004-0.222,0c-37.73-8.738-76.958-8.738-114.688,0c-0.074,0.004-0.148,0.004-0.222,0l-0.068,0.043
				c-27.51,6.355-53.77,17.245-77.705,32.222c-0.102,0.043-0.213,0-0.316,0.085c-0.299,0.206-0.584,0.431-0.853,0.674
				C87.3,59.969,60.019,87.244,39.62,119.441c-0.246,0.269-0.474,0.554-0.683,0.853c-0.06,0.102,0,0.222-0.094,0.324
				C23.878,144.54,12.992,170.782,6.63,198.272l-0.043,0.068c0,0.085,0,0.162,0,0.239c-8.738,37.724-8.738,76.947,0,114.671
				c0,0.077,0,0.154,0,0.239l0.051,0.085c6.357,27.49,17.24,53.733,32.205,77.653c0.051,0.102,0,0.222,0.094,0.324
				c0.367,0.747,0.848,1.432,1.425,2.031c20.299,31.726,47.303,58.62,79.113,78.788c0.27,0.243,0.555,0.468,0.853,0.674
				c0.137,0.068,0.282,0.094,0.418,0.154c23.908,14.943,50.132,25.808,77.602,32.154l0.068,0.043c0.119,0,0.239,0,0.358,0.051
				c37.642,8.704,76.773,8.704,114.415,0c0.119,0,0.239,0,0.358-0.051l0.068-0.043c27.47-6.345,53.694-17.211,77.602-32.154
				c0.137-0.06,0.282-0.085,0.418-0.154c0.299-0.206,0.584-0.431,0.853-0.674c31.804-20.145,58.811-47.012,79.121-78.711
				c0.577-0.599,1.058-1.284,1.425-2.031c0.06-0.102,0-0.222,0.094-0.324c14.965-23.921,25.848-50.163,32.205-77.653l0.051-0.085
				c0-0.085,0-0.162,0-0.239C514.125,275.603,514.125,236.38,505.387,198.656z M487.168,195.499l-56.994,19.021
				c-4.412-18.502-11.762-36.177-21.768-52.352l53.76-26.829C473.227,154.147,481.64,174.391,487.168,195.499z M418.142,255.974
				c-0.099,89.503-72.63,162.035-162.133,162.133c-89.544,0-162.133-72.59-162.133-162.133s72.59-162.133,162.133-162.133
				S418.142,166.431,418.142,255.974z M452.924,120.849h0.034l-54.263,27.11c-9.918-13.066-21.571-24.719-34.637-34.637
				l27.11-54.263C415.348,75.719,436.277,96.66,452.924,120.849z M316.476,24.815c21.115,5.542,41.365,13.97,60.177,25.045
				l-26.837,53.76c-16.175-10.023-33.853-17.387-52.361-21.811L316.476,24.815z M299.725,21.12l-19.2,57.532
				c-8.119-1.188-16.311-1.815-24.516-1.877c-8.205,0.062-16.397,0.689-24.516,1.877l-19.2-57.532
				C241.183,15.681,270.834,15.681,299.725,21.12z M195.541,24.815l19.021,56.994c-18.505,4.411-36.183,11.76-52.361,21.769
				L135.364,49.86C154.176,38.785,174.426,30.357,195.541,24.815z M120.883,59.059l27.11,54.263
				c-13.066,9.918-24.719,21.57-34.637,34.637l-54.263-27.11C75.75,96.657,96.691,75.716,120.883,59.059z M49.894,135.339
				l53.76,26.829c-10.022,16.173-17.386,33.848-21.811,52.352l-56.994-19.021C30.39,174.389,38.818,154.144,49.894,135.339z
				M17.075,255.974c0.015-14.666,1.38-29.3,4.079-43.716l57.532,19.2c-1.188,8.119-1.815,16.311-1.877,24.516
				c0.062,8.206,0.689,16.397,1.877,24.516l-57.532,19.2C18.456,285.275,17.09,270.641,17.075,255.974z M24.849,316.45
				l56.994-19.021c4.412,18.502,11.762,36.177,21.769,52.352L49.894,376.61C38.818,357.804,30.39,337.56,24.849,316.45z
				M59.093,391.1l54.263-27.11c9.918,13.066,21.57,24.719,34.637,34.637l-27.11,54.263C96.691,436.233,75.75,415.292,59.093,391.1z
				M195.541,487.091c-21.113-5.528-41.363-13.942-60.177-25.003l26.837-53.76c16.178,10.008,33.856,17.358,52.361,21.769
				L195.541,487.091z M212.292,490.829l19.2-57.532c8.119,1.188,16.311,1.815,24.516,1.877c8.206-0.062,16.397-0.689,24.516-1.877
				l19.2,57.532C270.834,496.267,241.183,496.267,212.292,490.829z M316.476,487.134l-19.021-56.994
				c18.505-4.411,36.183-11.76,52.361-21.768l26.837,53.76C357.839,473.192,337.589,481.606,316.476,487.134z M391.134,452.89
				l-27.11-54.263c13.066-9.918,24.719-21.57,34.637-34.637l54.263,27.11C436.267,415.292,415.326,436.233,391.134,452.89z
				M462.123,376.61l-53.76-26.829c10.007-16.175,17.356-33.85,21.769-52.352l56.994,19.021
				C481.598,337.558,473.184,357.802,462.123,376.61z M490.863,299.691l-57.532-19.2c1.188-8.119,1.815-16.311,1.877-24.516
				c-0.062-8.206-0.689-16.397-1.877-24.516l57.532-19.2C496.302,241.149,496.302,270.8,490.863,299.691z"/>
				<path d="M247.475,51.174h17.067c4.713,0,8.533-3.82,8.533-8.533s-3.821-8.533-8.533-8.533h-17.067
				c-4.713,0-8.533,3.82-8.533,8.533S242.762,51.174,247.475,51.174z"/>
				<path d="M119.549,96.823c-0.781-2.984-3.111-5.313-6.094-6.094s-6.156,0.109-8.299,2.327L93.09,105.122
				c-2.44,2.44-3.169,6.11-1.849,9.298c1.32,3.188,4.431,5.267,7.882,5.268c2.264,0.006,4.437-0.894,6.033-2.5l12.066-12.066
				C119.441,102.98,120.33,99.807,119.549,96.823z"/>
				<path d="M42.675,238.908c-4.713,0-8.533,3.82-8.533,8.533v17.067c0,4.713,3.82,8.533,8.533,8.533s8.533-3.82,8.533-8.533v-17.067
				C51.209,242.728,47.388,238.908,42.675,238.908z"/>
				<path d="M105.156,394.761c-3.348-3.234-8.671-3.188-11.962,0.104c-3.292,3.292-3.338,8.614-0.104,11.962l12.066,12.066
				c3.348,3.234,8.671,3.188,11.962-0.104c3.292-3.292,3.338-8.614,0.104-11.962L105.156,394.761z"/>
				<path d="M264.542,460.774h-17.067c-4.713,0-8.533,3.82-8.533,8.533s3.82,8.533,8.533,8.533h17.067
				c4.713,0,8.533-3.82,8.533-8.533S269.255,460.774,264.542,460.774z"/>
				<path d="M392.468,415.125c0.781,2.984,3.111,5.313,6.094,6.094c2.983,0.781,6.156-0.109,8.299-2.327l12.066-12.066
				c3.234-3.348,3.188-8.671-0.104-11.962c-3.292-3.292-8.614-3.338-11.962-0.104l-12.066,12.066
				C392.576,408.969,391.687,412.142,392.468,415.125z"/>
				<path d="M469.342,238.908c-4.713,0-8.533,3.82-8.533,8.533v17.067c0,4.713,3.82,8.533,8.533,8.533s8.533-3.82,8.533-8.533
				v-17.067C477.875,242.728,474.055,238.908,469.342,238.908z"/>
				<path d="M406.861,117.188c3.348,3.234,8.671,3.188,11.962-0.104c3.292-3.292,3.338-8.614,0.104-11.962l-12.066-12.066
				c-3.348-3.234-8.671-3.188-11.962,0.104c-3.292,3.292-3.338,8.614-0.104,11.962L406.861,117.188z"/>
				<path d="M302.464,341.308c0-4.713-3.821-8.533-8.533-8.533c-5.973,0-12.322-1.468-12.322-18.961v-11.708
				c15.357,3.763,31.591,0.136,43.887-9.805c19.072-16.469,19.797-48.41,1.92-79.266c-13.551-25.028-47.898-47.292-67.166-58.334
				c-2.627-1.505-5.855-1.505-8.482,0c-19.268,11.042-53.615,33.28-67.046,58.121c-17.997,31.07-17.271,63.01,1.809,79.488
				c12.298,9.93,28.525,13.553,43.878,9.796v11.708c0,17.493-6.357,18.961-12.322,18.961c-4.713,0-8.533,3.821-8.533,8.533
				s3.82,8.533,8.533,8.533h75.844C298.644,349.841,302.464,346.021,302.464,341.308z M268.425,283.281
				c-2.421,1.573-3.881,4.264-3.883,7.151v23.424c-0.163,6.444,0.885,12.861,3.089,18.918h-23.245
				c2.209-6.071,3.257-12.503,3.089-18.961v-23.424c-0.001-2.886-1.461-5.576-3.88-7.15c-2.419-1.574-5.47-1.818-8.109-0.649
				c-12.202,6.14-26.819,4.899-37.811-3.209c-12.672-10.948-11.947-34.253,1.929-58.223c8.03-14.822,28.467-32.606,56.405-49.178
				c27.938,16.572,48.384,34.364,56.525,49.391c13.756,23.757,14.507,47.061,1.818,58.027c-10.997,8.103-25.612,9.346-37.82,3.217
				C273.89,281.452,270.84,281.703,268.425,283.281z"/>
			</svg>
			<span>КАЗИНО</span>
			<svg class="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
			  <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
			  <path d="M0 0h24v24H0z" fill="none"/>
			</svg>
        </li>
        <ul class="sub-menu collapse" id="kazino">
          <li>
		<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" >
		<path d="M256,0C115.041,0,0,115.049,0,256c0,140.959,115.049,256,256,256c140.959,0,256-115.049,256-256
			C512,115.041,396.951,0,256,0z M256,482C131.383,482,30,380.617,30,256S131.383,30,256,30s226,101.383,226,226
			S380.617,482,256,482z"/>

		<path d="M256,61C148.635,61,61,148.345,61,256c0,107.364,87.342,195,195,195c107.364,0,195-87.346,195-195
			C451,148.635,363.655,61,256,61z M393.886,181.754c2.151-2.151,4.055-4.483,5.703-6.959c6.572,11.576,11.784,24.019,15.419,37.112
			C412.097,211.313,409.084,211,406,211c-7.576,0-14.716,1.89-20.987,5.211c-2.508-8.116-5.768-15.904-9.688-23.291
			C382.121,190.837,388.52,187.12,393.886,181.754z M351.459,139.328c5.473-5.472,14.102-5.805,19.972-1.104
			c0.789,0.773,1.571,1.555,2.345,2.345c4.728,5.888,4.368,14.5-1.103,19.972c-5.861,5.861-15.351,5.863-21.214,0
			C345.596,154.678,345.596,145.192,351.459,139.328z M361,256c0,57.897-47.103,105-105,105c-57.897,0-105-47.103-105-105
			c0-57.897,47.103-105,105-105C313.897,151,361,198.103,361,256z M300.093,96.992c13.097,3.636,25.543,8.85,37.121,15.424
			c-2.463,1.632-4.8,3.531-6.968,5.699c-5.27,5.269-9.068,11.616-11.197,18.544c-7.377-3.914-15.155-7.168-23.26-9.672
			C299.11,120.716,301,113.576,301,106C301,102.916,300.687,99.903,300.093,96.992z M256,91c8.271,0,15,6.729,15,15s-6.729,15-15,15
			s-15-6.729-15-15S247.729,91,256,91z M211.907,96.991C211.313,99.903,211,102.916,211,106c0,7.576,1.89,14.716,5.211,20.987
			c-8.105,2.504-15.883,5.759-23.26,9.672c-2.128-6.928-5.927-13.275-11.197-18.545c-2.168-2.168-4.505-4.066-6.968-5.699
			C186.364,105.841,198.81,100.627,211.907,96.991z M138.224,140.567c0.775-0.789,1.556-1.571,2.345-2.344
			c5.88-4.708,14.508-4.358,19.972,1.104c5.863,5.864,5.863,15.35,0,21.213c-5.861,5.861-15.351,5.863-21.214,0
			C133.846,155.059,133.504,146.446,138.224,140.567z M112.411,174.794c1.648,2.477,3.552,4.809,5.703,6.959
			c5.367,5.368,11.765,9.084,18.561,11.167c-3.92,7.386-7.18,15.174-9.688,23.29C120.716,212.89,113.576,211,106,211
			c-3.084,0-6.097,0.313-9.008,0.907C100.627,198.813,105.839,186.37,112.411,174.794z M91,256c0-8.271,6.729-15,15-15
			s15,6.729,15,15s-6.729,15-15,15S91,264.271,91,256z M118.114,330.247c-2.151,2.151-4.055,4.483-5.703,6.959
			c-6.572-11.576-11.784-24.019-15.419-37.112C99.903,300.687,102.916,301,106,301c7.576,0,14.716-1.89,20.987-5.211
			c2.508,8.116,5.768,15.904,9.688,23.291C129.879,321.163,123.481,324.88,118.114,330.247z M160.542,372.673
			c-5.453,5.453-14.087,5.816-19.972,1.104c-0.79-0.774-1.572-1.555-2.345-2.344c-4.72-5.878-4.379-14.491,1.103-19.973
			c5.861-5.861,15.351-5.863,21.214,0C166.405,357.323,166.405,366.809,160.542,372.673z M211.907,415.008
			c-13.097-3.636-25.543-8.85-37.121-15.424c2.463-1.632,4.8-3.53,6.968-5.698c5.27-5.27,9.068-11.617,11.197-18.545
			c7.377,3.914,15.155,7.168,23.26,9.672C212.89,391.284,211,398.424,211,406C211,409.084,211.313,412.097,211.907,415.008z
			 M256,421c-8.271,0-15-6.729-15-15s6.729-15,15-15s15,6.729,15,15S264.271,421,256,421z M300.093,415.008
			c0.594-2.912,0.907-5.924,0.907-9.008c0-7.576-1.89-14.716-5.211-20.987c8.105-2.504,15.883-5.759,23.26-9.672
			c2.128,6.928,5.927,13.275,11.197,18.545c2.168,2.168,4.505,4.066,6.968,5.698C325.636,406.159,313.19,411.372,300.093,415.008z
			 M373.776,371.433c-0.775,0.789-1.556,1.571-2.346,2.345c-5.884,4.711-14.518,4.348-19.971-1.105
			c-5.863-5.864-5.863-15.35,0-21.213c5.861-5.861,15.351-5.863,21.214,0C378.154,356.941,378.496,365.554,373.776,371.433z
			 M399.589,337.206c-1.648-2.477-3.552-4.809-5.703-6.959c-5.366-5.367-11.765-9.083-18.561-11.167
			c3.92-7.386,7.18-15.174,9.688-23.291C391.284,299.11,398.424,301,406,301c3.084,0,6.097-0.313,9.008-0.907
			C411.373,313.187,406.161,325.63,399.589,337.206z M406,271c-8.271,0-15-6.729-15-15s6.729-15,15-15s15,6.729,15,15
			S414.271,271,406,271z"/>

		<path d="M256,211c-24.813,0-45,20.187-45,45s20.187,45,45,45s45-20.187,45-45S280.813,211,256,211z M256,271
			c-8.271,0-15-6.729-15-15s6.729-15,15-15s15,6.729,15,15S264.271,271,256,271z"/>

		</svg>
		Тркало на среќа<input type="hidden" value="trkalo"></li>
		<li>
			<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
				<path d="M254.767,211.602c-11.108-11.106-29.182-11.106-40.29,0c-5.767,5.767-15.119,5.767-20.887,0
					c-5.554-5.554-12.849-8.331-20.145-8.331c-7.295,0-14.591,2.777-20.144,8.331c-11.107,11.107-11.107,29.182,0,40.289
					l50.733,50.733l50.733-50.733C265.875,240.784,265.875,222.709,254.767,211.602z"/>
				<path d="M322.187,0H85.879C61.448,0,41.572,19.876,41.572,44.308v423.385c0,24.431,19.876,44.308,44.308,44.308h236.307
					c24.432,0,44.309-19.876,44.309-44.308V44.308C366.495,19.876,346.618,0,322.187,0z M275.653,272.778l-61.176,61.177
					c-2.77,2.77-6.526,4.326-10.443,4.326c-3.917,0-7.673-1.556-10.443-4.326l-61.176-61.177c-22.625-22.625-22.625-59.437,0-82.063
					c19.404-19.406,49.243-22.17,71.62-8.287c22.374-13.882,52.215-11.118,71.62,8.287
					C298.279,213.341,298.279,250.153,275.653,272.778z"/>
				<path d="M452.243,137.354c-2.794-11.672-10.002-21.499-20.292-27.674l-35.918-21.55v163.84l23.498-37.46l27.157-43.292
					C453.065,161.052,455.037,149.025,452.243,137.354z"/>
				<path d="M470.383,275.671c-0.562-12.406-6.357-24.081-15.897-32.031c-0.001,0-0.001,0-0.001,0l-12.056-10.046l-46.397,73.964
							v62.869l61.418-61.418C466.232,300.226,470.946,288.075,470.383,275.671z"/>
			</svg>
			Black Jack<input type="hidden" value="soon">
		</li>
		</ul>
		<li  data-toggle="collapse" data-target="#profil" class="collapsed ">
          <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 511.559 511.559" >
          		<path d="M395.68,175.796c-2.21,0-3.998,1.788-3.998,3.997c0,88.634-84.783,171.88-135.903,171.88s-135.904-83.246-135.904-171.88
          			c0-2.209-1.788-3.997-3.997-3.997s-3.997,1.788-3.997,3.997c0,95.808,89.686,179.874,143.898,179.874
          			c54.212,0,143.898-84.067,143.898-179.874C399.677,177.584,397.889,175.796,395.68,175.796z"/>

          		<path d="M453.047,383.907c-18.393-6.894-34.015-13.162-47.755-19.174c-2.015-0.866-4.372,0.047-5.263,2.061
          			c-0.881,2.023,0.04,4.381,2.062,5.263c13.865,6.073,29.62,12.398,48.153,19.338c30.736,11.476,45.367,22.219,45.367,52.213v59.958
          			H15.949v-59.958c0-29.994,14.63-40.737,45.366-52.213c17.987-6.706,34.195-13.202,48.177-19.322
          			c2.014-0.883,2.935-3.241,2.053-5.263c-0.883-2.022-3.225-2.935-5.27-2.061c-13.834,6.058-29.902,12.499-47.756,19.15
          			c-32.796,12.249-50.565,25.396-50.565,59.708v63.955c0,2.209,1.788,3.997,3.997,3.997h487.655c2.21,0,3.998-1.788,4-3.997v-63.955
          			C503.606,409.296,485.836,396.148,453.047,383.907z"/>

          		<path d="M285.546,384.072c-1.974-0.983-4.364-0.18-5.363,1.788l-6.886,13.779h-35.038l-6.886-13.779
          			c-0.999-1.968-3.387-2.779-5.363-1.788c-1.975,0.991-2.772,3.388-1.788,5.363l7.995,15.989c0.679,1.351,2.06,2.209,3.575,2.209
          			h39.972c1.515,0,2.897-0.859,3.576-2.209l7.994-15.989C288.317,387.461,287.522,385.063,285.546,384.072z"/>

          		<path d="M245.271,399.926c-2.029-0.811-4.379,0.18-5.199,2.226l-15.988,39.972c-0.813,2.045,0.187,4.372,2.232,5.191
          			c0.484,0.195,0.983,0.289,1.483,0.289c1.584,0,3.091-0.952,3.716-2.514l15.989-39.972
          			C248.316,403.072,247.317,400.746,245.271,399.926z"/>

          		<path d="M287.467,442.124l-15.988-39.972c-0.82-2.046-3.146-3.053-5.192-2.226c-2.053,0.82-3.045,3.146-2.225,5.192l15.988,39.972
          			c0.625,1.562,2.124,2.514,3.708,2.514c0.493,0,1-0.094,1.484-0.289C287.295,446.496,288.286,444.17,287.467,442.124z"/>

          		<path d="M390.512,368.832l-39.973-39.972c-1.56-1.562-4.09-1.562-5.652,0c-1.561,1.561-1.561,4.09,0,5.652l37.388,37.388
          			l-37.63,45.163c-0.89,1.062-1.163,2.514-0.726,3.826l7.284,21.852l-39.113,46.248c-1.428,1.687-1.218,4.208,0.469,5.637
          			c0.757,0.633,1.67,0.945,2.584,0.945c1.132,0,2.264-0.484,3.053-1.413l40.564-47.966c0.898-1.07,1.18-2.522,0.742-3.849
          			l-7.292-21.867l38.543-46.257C392.08,372.626,391.971,370.292,390.512,368.832z"/>

          		<path d="M349.035,327.915c-2.085-0.735-4.358,0.366-5.091,2.451l-55.96,159.887c-0.735,2.085,0.366,4.364,2.451,5.091
          			c0.437,0.157,0.881,0.227,1.319,0.227c1.647,0,3.192-1.031,3.771-2.678l55.961-159.888
          			C352.22,330.92,351.119,328.641,349.035,327.915z"/>

          		<path d="M317.22,383.938l-59.957-23.982c-2.031-0.82-4.38,0.171-5.2,2.225c-0.812,2.045,0.187,4.372,2.233,5.191l59.957,23.983
          			c0.484,0.195,0.992,0.288,1.484,0.288c1.584,0,3.083-0.952,3.709-2.514C320.265,387.084,319.274,384.758,317.22,383.938z"/>

          		<path d="M199.468,488.988l-39.121-46.248l7.292-21.852c0.437-1.312,0.164-2.764-0.718-3.826l-37.646-45.163l37.396-37.388
          			c1.562-1.561,1.561-4.09,0-5.652c-1.561-1.562-4.09-1.562-5.652,0l-39.972,39.972c-1.468,1.46-1.569,3.794-0.25,5.387
          			l38.551,46.257l-7.292,21.867c-0.438,1.328-0.156,2.78,0.741,3.849l40.565,47.966c0.788,0.93,1.92,1.414,3.052,1.414
          			c0.914,0,1.827-0.313,2.578-0.946C200.678,493.196,200.897,490.675,199.468,488.988z"/>

          		<path d="M223.582,490.253l-55.96-159.887c-0.734-2.077-2.998-3.178-5.098-2.451c-2.084,0.726-3.177,3.005-2.459,5.09
          			l55.96,159.888c0.578,1.647,2.124,2.678,3.779,2.678c0.437,0,0.882-0.07,1.319-0.227
          			C223.207,494.617,224.3,492.338,223.582,490.253z"/>

          		<path d="M259.494,362.181c-0.819-2.046-3.178-3.037-5.199-2.225l-59.958,23.982c-2.045,0.82-3.044,3.146-2.232,5.191
          			c0.624,1.562,2.131,2.514,3.716,2.514c0.5,0,0.999-0.093,1.483-0.288l59.958-23.983
          			C259.306,366.553,260.306,364.226,259.494,362.181z"/>

          		<path d="M255.779,423.622c-2.21,0-3.998,1.787-3.998,3.996v63.955c0,2.21,1.788,3.998,3.998,3.998
          			c2.209,0,3.997-1.788,3.997-3.998v-63.955C259.776,425.409,257.988,423.622,255.779,423.622z"/>

          		<path d="M417.165,116.478c-4.357-0.679-9.853-1.537-16.715-2.888c-2.13-0.453-4.27,0.976-4.691,3.146
          			c-0.429,2.162,0.976,4.27,3.146,4.692c6.987,1.382,12.585,2.256,17.027,2.951c5.332,0.827,10.844,1.686,11.633,2.607
          			c0,0.008,0.093,0.203,0.093,0.843c0,9.501-81.122,39.972-175.875,39.972c-94.746,0-175.868-30.471-175.868-39.972
          			c0-0.617,0.085-0.827,0.085-0.827c0.804-0.937,6.308-1.796,11.632-2.623c4.442-0.695,10.04-1.569,17.027-2.951
          			c2.162-0.421,3.575-2.529,3.146-4.692c-0.429-2.17-2.529-3.599-4.692-3.146c-6.862,1.35-12.359,2.209-16.715,2.888
          			c-11.913,1.859-18.479,2.881-18.479,11.352c0,21.516,101.381,47.966,183.862,47.966s183.871-26.451,183.871-47.966
          			C435.652,119.359,429.087,118.336,417.165,116.478z"/>

          		<path d="M251.78,135.824c-57.038,0-111.874-11.507-126.911-14.927c4.403-15.326,20.384-70.716,30.791-102.998
          			c1.593-4.965,4.029-7.979,7.433-9.212c10.938-3.934,31.486,9.08,49.59,20.587c15.723,9.985,29.3,18.612,39.097,18.612
          			c2.21,0,3.998-1.788,3.998-3.997s-1.789-3.997-3.998-3.997c-7.479,0-21.367-8.83-34.803-17.363
          			C196.358,9.43,175.037-4.108,160.376,1.17c-5.808,2.099-9.954,6.901-12.335,14.278c-12.132,37.669-31.813,106.597-32.008,107.292
          			c-0.296,1.038-0.156,2.154,0.375,3.091c0.546,0.937,1.444,1.616,2.498,1.881c0.64,0.156,65.212,16.106,132.875,16.106
          			c2.21,0,3.997-1.788,3.997-3.997S253.989,135.824,251.78,135.824z"/>

          		<path d="M387.53,122.739c-0.196-0.695-19.877-69.623-32.017-107.292c-2.374-7.377-6.526-12.178-12.335-14.278
          			c-14.615-5.262-35.966,8.252-56.593,21.36c-13.435,8.533-27.324,17.363-34.803,17.363c-2.209,0-3.997,1.788-3.997,3.997
          			c0,2.209,1.788,3.997,3.997,3.997c9.797,0,23.374-8.627,39.09-18.612c18.104-11.491,38.559-24.522,49.598-20.587
          			c3.403,1.233,5.838,4.247,7.439,9.212c10.399,32.282,26.38,87.673,30.783,102.998c-15.036,3.42-69.873,14.927-126.911,14.927
          			c-2.209,0-3.997,1.788-3.997,3.997s1.788,3.997,3.997,3.997c67.664,0,132.235-15.95,132.876-16.107
          			c1.053-0.265,1.951-0.944,2.49-1.881C387.694,124.893,387.826,123.777,387.53,122.739z"/>

          		<path d="M367.519,111.067c-0.437-2.17-2.576-3.583-4.707-3.13c-22.157,4.442-66.04,11.898-111.032,11.898
          			c-44.999,0-88.89-7.456-111.046-11.898c-2.17-0.461-4.262,0.968-4.7,3.13c-0.437,2.171,0.969,4.27,3.139,4.708
          			c22.438,4.505,66.921,12.054,112.608,12.054c45.68,0,90.155-7.549,112.607-12.054
          			C366.551,115.338,367.957,113.238,367.519,111.067z"/>

          		<path d="M395.68,167.8c-2.21,0-3.998,1.789-3.998,3.998v7.994c0,2.21,1.788,3.998,3.998,3.998c2.209,0,3.997-1.788,3.997-3.998
          			v-7.994C399.677,169.588,397.889,167.8,395.68,167.8z"/>

          		<path d="M115.878,167.8c-2.209,0-3.997,1.789-3.997,3.998v7.994c0,2.21,1.788,3.998,3.997,3.998s3.997-1.788,3.997-3.998v-7.994
          			C119.875,169.588,118.087,167.8,115.878,167.8z"/>

          		<path d="M381.909,232.888c-1.804-1.218-4.302-0.741-5.543,1.093c-46.826,69.787-70.841,80.31-101.241,93.622l-0.952,0.421
          			c-2.023,0.891-2.944,3.241-2.062,5.263c0.655,1.506,2.124,2.396,3.661,2.396c0.539,0,1.086-0.109,1.601-0.335l0.96-0.421
          			c30.346-13.288,56.555-24.772,104.669-96.496C384.235,236.596,383.743,234.114,381.909,232.888z"/>

          		<path d="M237.402,328.023l-0.968-0.421c-30.416-13.319-54.431-23.843-101.249-93.622c-1.226-1.842-3.709-2.326-5.543-1.093
          			c-1.835,1.226-2.319,3.709-1.093,5.543c48.114,71.717,74.322,83.2,104.676,96.496l0.96,0.421c0.531,0.227,1.069,0.336,1.608,0.336
          			c1.538,0,3.006-0.889,3.662-2.397C240.338,331.263,239.416,328.914,237.402,328.023z"/>

          		<path d="M278.598,328.86l-7.994-7.994c-1.561-1.562-4.09-1.562-5.652,0c-1.562,1.56-1.562,4.09,0,5.652l7.994,7.994
          			c0.781,0.78,1.804,1.171,2.826,1.171c1.024,0,2.046-0.39,2.826-1.171C280.16,332.951,280.16,330.422,278.598,328.86z"/>

          		<path d="M246.614,320.866c-1.561-1.562-4.091-1.562-5.652,0l-7.995,7.994c-1.562,1.561-1.562,4.09,0,5.652
          			c0.781,0.78,1.804,1.171,2.826,1.171c1.023,0,2.046-0.39,2.827-1.171l7.994-7.994
          			C248.176,324.957,248.176,322.427,246.614,320.866z"/>

          		<path d="M267.778,319.694h-23.991c-2.21,0-3.998,1.788-3.998,3.998c0,2.209,1.789,3.997,3.998,3.997h23.991
          			c2.209,0,3.997-1.788,3.997-3.997C271.775,321.482,269.987,319.694,267.778,319.694z"/>

          		<path d="M371.697,423.622c-2.21,0-3.997,1.787-3.997,3.996v23.983c0,2.21,1.787,3.997,3.997,3.997c2.21,0,3.997-1.787,3.997-3.997
          			v-23.983C375.694,425.409,373.907,423.622,371.697,423.622z"/>

          		<path d="M403.675,423.622c-2.209,0-3.997,1.787-3.997,3.996v23.983c0,2.21,1.788,3.997,3.997,3.997
          			c2.208,0,3.997-1.787,3.997-3.997v-23.983C407.672,425.409,405.884,423.622,403.675,423.622z"/>

          		<path d="M403.674,447.605c-2.209,0-3.997,1.788-3.997,3.997c0,6.612-5.379,11.992-11.991,11.992
          			c-6.613,0-11.992-5.38-11.992-11.992c0-2.209-1.787-3.997-3.997-3.997s-3.997,1.788-3.997,3.997
          			c0,11.023,8.963,19.986,19.986,19.986c11.024,0,19.986-8.963,19.985-19.986C407.671,449.393,405.883,447.605,403.674,447.605z"/>

          		<path d="M387.686,415.627c-11.39,0-19.986,5.153-19.986,11.991c0,6.84,8.595,11.992,19.986,11.992
          			c11.39,0,19.986-5.152,19.985-11.992C407.671,420.78,399.076,415.627,387.686,415.627z M387.686,431.616
          			c-7.737,0-11.992-3.006-11.992-3.998c0-0.991,4.255-3.996,11.992-3.996s11.991,3.005,11.991,3.996
          			C399.677,428.61,395.422,431.616,387.686,431.616z"/>

          		<path d="M387.686,463.594c-2.21,0-3.998,1.787-3.998,3.997v23.982c0,2.21,1.788,3.998,3.998,3.998
          			c2.209,0,3.996-1.788,3.996-3.998v-23.982C391.682,465.381,389.895,463.594,387.686,463.594z"/>

          		<path d="M395.68,479.582h-15.989c-2.209,0-3.997,1.788-3.997,3.997c0,2.209,1.788,3.997,3.997,3.997h15.989
          			c2.209,0,3.997-1.788,3.997-3.997C399.677,481.37,397.889,479.582,395.68,479.582z"/>
          </svg>
          <span>ПРОФИЛ</span>
          <svg class="svg" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" >
              <path d="M16.59 8.59L12 13.17 7.41 8.59 6 10l6 6 6-6z"/>
              <path d="M0 0h24v24H0z" fill="none"/>
          </svg>
        </li>
        <ul class="sub-menu collapse" id="profil">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 612.001 612.002" >
          	<path d="M599.293,116.954l-66.904-83.936c-6.319-7.929-15.906-12.548-26.047-12.548H160.551c-10.139,0-19.726,4.619-26.046,12.547
          		l-66.903,83.937c-6.989,8.769-12.708,25.118-12.708,37.46v61.482c5.314-8.36,13.081-14.635,22.395-17.845
          		c0.521-7.026,2.651-13.84,6.294-20.045c6.311-10.75,16.435-18.394,28.502-21.533c4.326-1.13,8.287-1.642,12.247-1.642
          		c15.955,0,30.413,8.116,38.879,20.866c2.521-0.439,5.065-0.667,7.619-0.667c7.834,0,15.237,2.154,21.686,5.866l37.059-9.639
          		c4.644-1.212,9.416-1.821,14.198-1.821c25.631,0,48.035,17.337,54.492,42.164l72.627,279.135
          		c3.789,14.563,1.675,29.729-5.937,42.708c-7.62,12.979-19.842,22.208-34.406,25.998l-32.413,8.431h272.229
          		c22.995,0,41.636-18.641,41.636-41.635L612,153.286C612,142.072,606.282,125.723,599.293,116.954z M89.465,116.244l22.156-27.797
          		h151.166l14.917-24.526H131.171l16.357-20.522c3.178-3.987,7.925-6.274,13.023-6.274h345.792c5.099,0,9.846,2.287,13.023,6.274
          		l16.357,20.522H386.58l8.327,24.526h160.366l22.155,27.797H89.465z M96.223,218.802l-9.345,2.431
          		c-9.953,2.59-15.923,12.758-13.334,22.711l0.095,0.364c2.59,9.954,12.758,15.923,22.712,13.334l79.252-20.618
          		c9.954-2.589,15.923-12.757,13.334-22.712l-0.095-0.364c-2.59-9.953-12.758-15.923-22.711-13.334l-9.345,2.431
          		c-4.993,1.299-10.095-1.696-11.394-6.689l-0.08-0.304c-3.017-11.596-14.862-18.551-26.458-15.534l-0.485,0.126
          		c-11.596,3.017-18.55,14.862-15.534,26.458l0.08,0.304C104.212,212.402,101.217,217.503,96.223,218.802z M121.768,192.721
          		c5.027-1.308,10.163,1.708,11.47,6.734c1.308,5.027-1.707,10.163-6.735,11.47c-5.027,1.307-10.162-1.708-11.47-6.734
          		C113.726,199.164,116.741,194.028,121.768,192.721z M238.566,479.806c0.872,3.352-1.138,6.775-4.489,7.647l-115.299,29.994
          		c-3.351,0.872-6.775-1.139-7.647-4.49l-1.579-6.067c-0.872-3.353,1.138-6.776,4.49-7.647l115.298-29.994
          		c3.352-0.872,6.775,1.139,7.647,4.489L238.566,479.806z M252.628,359.526l1.579,6.068c0.872,3.352-1.138,6.775-4.49,7.646
          		L91.941,414.287c-3.352,0.872-6.775-1.139-7.647-4.489l-1.579-6.069c-0.872-3.352,1.138-6.775,4.49-7.646l157.776-41.045
          		C248.333,354.165,251.756,356.174,252.628,359.526z M235.509,318.627L77.733,359.672c-3.352,0.871-6.775-1.139-7.647-4.49
          		l-1.579-6.068c-0.872-3.352,1.138-6.774,4.49-7.646l157.776-41.045c3.352-0.872,6.775,1.138,7.647,4.489l1.579,6.069
          		C240.871,314.331,238.861,317.755,235.509,318.627z M232.005,429.681l-127.435,33.152c-3.352,0.871-6.775-1.139-7.647-4.49
          		l-1.579-6.068c-0.872-3.352,1.138-6.775,4.49-7.647l127.434-33.15c3.352-0.873,6.775,1.138,7.647,4.489l1.579,6.068
          		C237.367,425.386,235.357,428.81,232.005,429.681z M346.709,497.026l-72.618-279.143c-4.359-16.757-21.478-26.807-38.235-22.448
          		l-37.004,9.627c0.875,1.807,1.601,3.715,2.126,5.729c4.421,16.996-5.588,34.045-22.22,38.372l-78.087,20.314
          		c-15.94,4.147-33.103-4.061-38.454-19.638c-1.008-2.934-1.553-5.883-1.709-8.788l-37.042,9.637
          		c-16.757,4.359-26.807,21.478-22.448,38.234l72.618,279.143c4.36,16.758,21.478,26.808,38.235,22.448l212.392-55.253
          		C341.019,530.901,351.069,513.783,346.709,497.026z M103.977,560.172L40.831,317.44l212.391-55.253l63.147,242.732L103.977,560.172
          		z"/>
              </svg>
          Црна листа
          <input type="hidden" value="blacklist">
          </li>
          <li>
            <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.009 512.009" >
          		<circle cx="255.999" cy="64.005" r="64"/>
          		<path d="M351.871,301.957l-14.528-113.152c-1.632-16.416-15.328-28.8-31.808-28.8h-17.536c-4.256,0-8.32,1.696-11.328,4.672
          			l-20.672,20.672l-20.672-20.672c-3.008-2.976-7.072-4.672-11.328-4.672h-17.504c-16.512,0-30.208,12.384-31.808,28.384
          			l-14.56,113.6c-0.576,4.544,0.832,9.152,3.872,12.576c3.04,3.456,7.392,5.44,12,5.44h17.28l13.376,163.2
          			c1.6,16.384,15.328,28.8,31.84,28.8h35.04c16.512,0,30.208-12.416,31.872-29.088l13.344-162.912h17.248
          			c4.608,0,8.96-1.984,12-5.44C351.071,311.141,352.479,306.533,351.871,301.957z"/>

          		<circle cx="415.999" cy="64.005" r="64"/>

          		<path d="M95.999,0.005c-35.296,0-64,28.704-64,64s28.704,64,64,64c35.264,0,64-28.704,64-64S131.263,0.005,95.999,0.005z"/>

          		<path d="M511.871,301.957l-14.528-113.12c-1.632-16.448-15.296-28.832-31.808-28.832h-17.536c-4.256,0-8.32,1.696-11.328,4.672
          			l-20.672,20.672l-20.672-20.672c-3.008-2.976-7.072-4.672-11.296-4.672h-17.536c-1.984,0-3.776,0.704-5.664,1.056
          			c4.128,7.296,7.36,15.2,8.32,24.064l14.496,112.768c1.792,13.728-2.496,27.552-11.712,37.952
          			c-4.352,4.992-9.92,8.512-15.872,11.264l10.624,104.096c1.632,16.416,15.328,28.8,31.84,28.8h35.04
          			c16.512,0,30.208-12.416,31.872-29.088l13.312-130.912h17.248c4.608,0,8.96-1.984,12-5.44
          			C511.071,311.141,512.479,306.533,511.871,301.957z"/>

          		<path d="M139.967,335.685c-9.088-10.272-13.312-24.064-11.584-37.728l14.56-113.632c0.832-8.512,3.968-16.192,7.968-23.296
          			c-1.792-0.32-3.488-1.024-5.376-1.024h-17.536c-4.256,0-8.32,1.696-11.328,4.672l-20.672,20.672l-20.672-20.672
          			c-3.008-2.976-7.072-4.672-11.296-4.672H46.494c-16.512,0-30.208,12.384-31.808,28.384l-14.56,113.6
          			c-0.576,4.544,0.832,9.152,3.872,12.576c3.04,3.456,7.424,5.44,12,5.44h17.28l13.376,131.2c1.6,16.384,15.328,28.8,31.84,28.8
          			h35.04c16.512,0,30.208-12.416,31.872-29.088l10.624-103.84C150.047,344.293,144.447,340.741,139.967,335.685z"/>
                </svg>
                Фамилија
                <input type="hidden" value="clan">
              </li>
        </ul>
        <li id="statistika">
      <svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" >
        <path d="M488.399,492h-21.933V173.536c0-14.823-12.06-26.882-26.882-26.882H390.56c-14.823,0-26.882,12.06-26.882,26.882V492
          h-55.692V317.825c0-14.823-12.059-26.882-26.882-26.882H232.08c-14.823,0-26.882,12.06-26.882,26.882V492h-55.692v-90.204
          c0-14.823-12.06-26.882-26.882-26.882H73.599c-14.823,0-26.882,12.06-26.882,26.882V492H23.601c-5.523,0-10,4.477-10,10
          s4.477,10,10,10h464.798c5.523,0,10-4.477,10-10S493.922,492,488.399,492z M129.504,492H66.716v-90.204
          c0-3.795,3.087-6.882,6.882-6.882h49.024c3.795,0,6.882,3.087,6.882,6.882V492z M287.985,492h-62.788V317.825
          c0-3.795,3.087-6.882,6.882-6.882h49.024c3.794,0,6.882,3.087,6.882,6.882V492z M446.466,492h-62.788V173.536
          c0-3.795,3.087-6.882,6.882-6.882h49.024c3.795,0,6.882,3.087,6.882,6.882V492z"/>
        <path d="M466.442,10.516c0.14-2.729-0.82-5.504-2.904-7.588c-2.084-2.084-4.859-3.045-7.588-2.904
          C455.789,0.017,455.63,0,455.466,0h-60.5c-5.523,0-10,4.477-10,10s4.477,10,10,10h37.357l-98.857,98.858l-37.28-37.28
          c-1.875-1.875-4.419-2.929-7.071-2.929c-2.652,0-5.196,1.054-7.071,2.929l-179.769,179.77c-3.905,3.905-3.905,10.237,0,14.143
          c1.953,1.951,4.512,2.927,7.071,2.927s5.119-0.976,7.071-2.929L289.115,102.79l37.28,37.28c3.905,3.905,10.237,3.905,14.143,0
          L446.466,34.143v33.81c0,5.523,4.477,10,10,10s10-4.477,10-10V11C466.466,10.837,466.449,10.678,466.442,10.516z"/>
        <circle cx="75.64" cy="303.31" r="10"/>
      </svg>
          <span>СТАТИСТИКА</span>
        </li>
        <li>
       <svg  xmlns="https://image.flaticon.com/icons/svg/945/945447.svg" viewBox="0 0 512 512">
             <circle cx="256" cy="378.5" r="25"/>
           </svg>

         <span>НАГРАДИ</span>
       </li>
	<li id="totorijal">
		<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
					<circle cx="256" cy="378.5" r="25"/>
					<path d="M256,0C114.516,0,0,114.497,0,256c0,141.484,114.497,256,256,256c141.484,0,256-114.497,256-256
						C512,114.516,397.503,0,256,0z M256,472c-119.377,0-216-96.607-216-216c0-119.377,96.607-216,216-216
						c119.377,0,216,96.607,216,216C472,375.377,375.393,472,256,472z"/>
					<path d="M256,128.5c-44.112,0-80,35.888-80,80c0,11.046,8.954,20,20,20s20-8.954,20-20c0-22.056,17.944-40,40-40
						c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40c-11.046,0-20,8.954-20,20v50c0,11.046,8.954,20,20,20
						c11.046,0,20-8.954,20-20v-32.531c34.466-8.903,60-40.26,60-77.469C336,164.388,300.112,128.5,256,128.5z"/>
		</svg>
        <span>TOTORIJAL</span>
    </li>
    </ul>
  </div>
</nav>
</div>
{% endif %}
<script type="text/javascript">
$($('.hamburger').parent().attr('data-target')).on('hide.bs.collapse', function () {
  $(this).parent().find('.hamburger').removeClass('hamburger--close');
});
$($('.hamburger').parent().attr('data-target')).on('show.bs.collapse', function () {
  $(this).parent().find('.hamburger').addClass('hamburger--close');
});

</script>
